{% extends "layout.html" %}
{% block body %}
      		    

    <style>
                        h3{background-color:#826aa5;color:#fff;padding:3px;}
                        h3 span{float:right;font-size:28px;font-weight:normal;padding:1px;}
                        h3 span a{color:#fff;text-decoration:none;}

                </style>
    </style>
   
    <div class="container">
        <div class="row">
	<h1><span class="hidden-xs">Polygenic </h1>
  <hr/>
  </div>
     
            				
  </div>
  <div style="display: flex; justify-content: center;">
     
            				
     <img src="/static/images/Polygenic/Polygenic_{{ polygenic_key }}.svg" height=40% width=80% align="middle"> </img>

                
    </div>     
         
  <div style="display: flex; justify-content: center;">
     
     <img src="/static/images/Polygenic/Polygenic_{{ polygenic_key }}.svg2.svg" height=40% width=80% align="middle"> </img>

                
    </div>     
         

     
{% endblock %}
