{% extends "layout.html" %}
{% block body %}
    <!-- Render context vars in JS here -->


    <style>
                        h3{background-color:#826aa5;color:#fff;padding:3px;}
                        h3 span{float:right;font-size:28px;font-weight:normal;padding:1px;}
                        h3 span a{color:#fff;text-decoration:none;}

                </style>



    <div class="container_fluid">
        <div class="row">


            <h1 style="margin-left: 50px;">SEMM</span></h1>
            <h4 style="margin-left: 50px;">Version 0.01, 10.01.2019</span></h4>
<p style="margin-left: 50px;">Emily Flynn and Manuel A. Rivas</p>
<p style="margin-left: 50px;"> App designed and developed by Manuel A. Rivas</p>
<p style="margin-left: 50px;"> Mixture models designed by Manuel A. Rivas and implemented by Emily Flynn</p>
<p style="margin-left: 50px;"> Analysis conducted by Emily Flynn </p>
  	    <iframe id="sex_app" src="https://rivaslab.shinyapps.io/sexeffects/" style="margin-left: 50px; border: none; width: 100%; height: 1600px" frameborder="0"></iframe>

        </div>

 <p>
                The sex-specific testosterone polygenic risk scores from this study are available on <a href="https://doi.org/10.6084/m9.figshare.12793490.v1" target="_blank">figshare</a>.
            </p>
            <iframe src="https://widgets.figshare.com/articles/12793490/embed?show_title=1" width="100%" height="300em" style="border:none;" allowfullscreen="true" frameborder="0"></iframe>

<div class="alert alert-info" role="alert">
  <strong>Heads up!</strong>
This app shows inferences from the four-component Sex Effects Mixture Model 
    </div>

<div class="row">
        <div class="col">
<!--            <h2 align="center">Video Tutorial for Power App</h2>
            <p>
                Christopher explains the Power app and teaches viewers how to interpret the plot and table using examples.
           </p>
           <iframe width="600" height="450" src="https://www.youtube.com/embed/TsC5tMyHFMQ" gesture=“media” frameborder="0" allowfullscreen></iframe>
-->
        </div> 
    </div>

</div>
{% endblock %}
