gbe_data.tar.gz filter=lfs diff=lfs merge=lfs -text
gbe_data/qc/variant_filter_table.tsv.gz filter=lfs diff=lfs merge=lfs -text
gbe_browser/static/gcorr/opt_corr.tsv.gz filter=lfs diff=lfs merge=lfs -text
gbe_browser/static/gcorr/traits.tsv.gz filter=lfs diff=lfs merge=lfs -text
