#git+https://github.com/mitsuhiko/flask.git
Flask-Script==2.0.5
ipython==2.1.0
#Flask-Compress==1.0.2
#Flask-ErrorMail==0.2.2
numpy
python-slugify
flask_compress
sklearn
pysam
Werkzeug<1
pymongo==2.7.1
flask_oauth
flask_errormail
flask_wtf
scipy
pandas
#rpy2
profilehooks
backports.weakref
dash==0.21.0
dash-renderer==0.11.3
dash-html-components==0.8.0
dash-core-components==0.18.1

