{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
	  <h3> Team </h3>
            <div class="col-md-4">
                <h4>Principal Investigators</h4>
                <ul>
		  <li>Manuel A. Rivas</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Analysts and Portal Team</h4>
                <ul>
		  <li><a href="https://med.stanford.edu/profiles/manuel-rivas">Manuel A. Rivas</a></li>
		  <li>Greg McInnes</li>
		  <li>Adam Lavertu</li>
                </ul>
            </div>
	    </div>
	 <div class="row">
                <ul>
The Global Biobank Engine was built using a modified version of the <a href="https://github.com/konradjk/exac_browser">ExAC browser code-base</a>. The portal development was led by Manuel Rivas.
                </ul>
            </div>
	 <div class="row">
                <h3>Funding</h3>
                <ul>
		  This work was supported by Stanford University.
                </ul>
            </div>

        </div>
    </div>

{% endblock %}
