{% extends "layout.html" %}
{% block head %}
    <!-- Plotly.js -->
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
.dropdown-submenu {
 position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0; 
    left: 100%; 
    margin-top: -1px;
}

.dropbtn1 {
    background-color: #B3995D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropbtn1:hover, .dropbtn:focus {
    background-color: #B6B1A9;
}


.button {
    background-color: #428bca; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: #DAD7CB;
    color: white;
    text-decoration: none;
}


#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 330px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


</style>

<!--Drop down menu-->

<script>
function dropdown_show(div_id) {
    document.getElementById(div_id).classList.toggle("show");
}
        
function dropdown_filter(div_id, input_id) {
    var input, filter, ul, li, a, i;
    input = document.getElementById(input_id);
    filter = input.value.toUpperCase();
    div = document.getElementById(div_id);
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}       
</script>


<!-- 2d plot func -->
<script>
function make_plot(id, x, y, label, title) {
    Plotly.newPlot(
        id,
        [
            {
                x:x,
                y:y,
                text:label,
                type:'scatter',
                mode:'markers'
            }
        ],
        {
            hovermode:'closest',
            title:title
        }
    );
}
</script>

<!-- This script is for plotting -->
<script>           
    
function update_contribution_plots(pc) {
    make_plot(
        'phe_contribution_plot', 
        idx_phe, 
        contribution_phe[pc], 
        label_phe,
        'phenotype contribution score'
    );        

    make_plot(
        'var_contribution_plot', 
        idx_var, 
        contribution_var[pc], 
        label_var,
        'variant contribution score'
    );               

    var phe_contribution_plot = $('#phe_contribution_plot')[0];
    var var_contribution_plot = $('#var_contribution_plot')[0];
    phe_contribution_plot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            phe = data.points[i].x;
        }
        update_phe(phe - 1);                                
    });        
    var_contribution_plot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            vari = data.points[i].x;            
        }
        update_var(vari - 1);
    });
}
    
function update_phe_cosine(phe) {
    make_plot(
        'phe_cosine_plot', 
        idx_pc, 
        cos_phe[phe], 
        label_pc,
        'phenotype cosine score'
    );        
    var phe_cosine_plot = $('#phe_cosine_plot')[0];
    phe_cosine_plot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            pc = data.points[i].x;            
        }
        update_pc(pc - 1);
    });        
}

    
function update_var_cosine(vari) {
    make_plot(
        'var_cosine_plot', 
        idx_pc, 
        cos_var[vari], 
        label_pc,
        'variant cosine score'
    );        
    var var_cosine_plot = $('#var_cosine_plot')[0];
    var_cosine_plot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            pc = data.points[i].x;            
        }
        update_pc(pc - 1);
    });        
}    

    
function pca_plot_phe(idx_pc_x, idx_pc_y) {
    make_plot(
        'pca_plot_phe', 
        factor_phe[label_pc[idx_pc_x]], 
        factor_phe[label_pc[idx_pc_y]], 
        label_phe,
        'PCA plot for phenotypes'
    );        
}
    
function pca_plot_var(idx_pc_x, idx_pc_y) {
    make_plot(
        'pca_plot_var',         
        factor_var[label_pc[idx_pc_x]], 
        factor_var[label_pc[idx_pc_y]], 
        label_var,
        'PCA plot for variants'
    );        
}
    
function variance_explained_plot(){
    make_plot(
        'var_explained_plot',         
        idx_pc, 
        eigen_r, 
        label_pc,
        'variance explained plot'
    ); 
    var var_cosine_plot = $('#var_explained_plot')[0];
    var_cosine_plot.on('plotly_click', function(data){
        var pts = '';
        for(var i=0; i < data.points.length; i++){
            pc = data.points[i].x;            
        }
        update_pc(pc - 1);
    });
}    
</script>



<script>
function dev_str(str) {
    $("#dev").text(str);        
}
</script>

<script>
function update_pc(pc_idx) {
    $(".variable_pc").text(label_pc[pc_idx]);
    update_contribution_plots(label_pc[pc_idx]);
}   

function update_phe(phe_idx) {
    $(".variable_phe").text(label_phe[phe_idx]);
    $(".variable_phe_link").html(                  
        "<a href='https://biobankengine.stanford.edu/coding/"
        + label_phe_code[phe_idx] + "'>" 
        + label_phe[phe_idx]
        + "</a>"
    );
    update_phe_cosine(label_phe[phe_idx]);        
    
    if( ! document.getElementById("phe_contribution_no").checked ){
        window.open("https://biobankengine.stanford.edu/coding/" + label_phe_code[phe_idx]);
    }
}   

function update_var(var_idx) {
    $(".variable_var").text(label_var[var_idx]);
    $(".variable_var_link").html(                                
        "<a href='https://biobankengine.stanford.edu/variant/" 
        + label_var[var_idx] + "'>" 
        + label_var[var_idx]
        + "</a>"
    ); 
    update_var_cosine(label_var[var_idx]);
    
    if( ! document.getElementById("var_contribution_no").checked ){
        window.open("https://biobankengine.stanford.edu/variant/" + label_var[var_idx]);
    }    
}  
    
    
function dropdown_update_phe(phe_idx){
    update_phe(phe_idx);                
    dropdown_show('dropdown-div-phe');
}    
    
function dropdown_update_var(var_idx){
    update_var(var_idx);                
    dropdown_show('dropdown-div-var');
}    
    
function dropdown_update_pc_phe(pc_idx){
    update_pc(pc_idx);                
    dropdown_show('dropdown-div-pc-phe');
}    

function dropdown_update_pc_var(pc_idx){
    update_pc(pc_idx);
    dropdown_show('dropdown-div-pc-var');
}    
    
</script>


<script>
function get_txt_via_http(url) {
    var file_content;
    var req = new XMLHttpRequest();
//    req.timeout = 3000;
    req.onreadystatechange = function() {
        if(req.readyState == 4 && req.status == 200){
            file_content = req.responseText;
        }
    };
    req.open("GET", url, false);
    req.send(null);
    return file_content;
}
    
function get_json_via_http(url){
    return JSON.parse(get_txt_via_http(url));
}    
    
</script>


<script>
function get_data(json_file){
    var data_all = get_json_via_http(json_file);    
    
    eigen_v   = data_all['eigen_v'];
    eigen_r   = data_all['eigen_r'];
    
    label_phe_code = data_all['label_phe_code'];
    label_phe = data_all['label_phe'];
    label_var = data_all['label_var'];
    label_pc  = data_all['label_pc'];
    
    idx_phe   = Plotly.d3.range(1, 1 + label_phe.length);
    idx_var   = Plotly.d3.range(1, 1 + label_var.length);
    idx_pc    = Plotly.d3.range(1, 1 + label_pc.length);
    
    factor_phe = data_all['factor_phe'];
    factor_var = data_all['factor_var'];
    
    contribution_phe = data_all['contribution_phe'];
    contribution_var = data_all['contribution_var'];
    
    cos_phe = data_all['cos_phe'];
    cos_var = data_all['cos_var'];                
}

</script>


<script>
    $(document).ready(function(){
        document.getElementById("phe_contribution_no").checked = true;
        document.getElementById("var_contribution_no").checked = true;
        
        
        get_data('/static/decomposition/{{dataset}}.json');
        update_pc( {{ init_idx_pc  }});
        update_phe({{ init_idx_phe }});
        update_var({{ init_idx_var }});
        
        for (i = 0; i < label_phe.length; i++) {
            $("#dropdown-div-phe").append(
                "<a class=\"dropdown-item\" id='dropdown-phe-" + i + "' onclick=dropdown_update_phe(" + i + ")>" + label_phe[i] + "</a>"
            );
        } 

        for (i = 0; i < label_var.length; i++) {
            $("#dropdown-div-var").append(
                "<a class=\"dropdown-item\" id='dropdown-var-" + i + "' onclick=dropdown_update_var(" + i + ")>" + label_var[i] + "</a>"
            );
        } 
        
        for (i = 0; i < label_pc.length; i++) {            
            $("#dropdown-div-pc-phe").append(                                
                "<a class=\"dropdown-item\" id='dropdown-pc-phe-" + i + "' onclick=dropdown_update_pc_phe(" + i + ")>" + label_pc[i] + "</a>"
            );
        }
        
        for (i = 0; i < label_pc.length; i++) {
            $("#dropdown-div-pc-var").append(                
                "<a class=\"dropdown-item\" id='dropdown-pc-var-" + i + "' onclick=dropdown_update_pc_var(" + i + ")>" + label_pc[i] + "</a>"
            );
        } 
        
        variance_explained_plot();
        pca_plot_var(0, 1);
        pca_plot_phe(0, 1);
        

    });
</script>






{% endblock %}


{% block body %}

<div class="container" style="font-size: 16px;">
    <div class="row">
        <div class="col">
            <h1>Decomposition of genetic effects across disease outcomes, biomarkers, and lifestyle measures</h1>
            <p>Yosuke Tanigawa and Manuel A. Rivas</p>
            <p>Y.T. developped the web application and M.A.R designed the study.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col col-md-12">
            <h2>Cosine scores</h2>
            <p>Given a phenotype/variant, we can explorer which principal components are imporant for the selected phenotype/variant.</p>
        </div>
        
                            
    </div>
    <div class="row">        
        <div class="col col-md-6">
            <h3>Phenotype cosine score</h3> 
            
            <div class="btn-group" role="group">
                <div class="dropdown" align="center">
                    <button onclick="dropdown_show('dropdown-div-phe')" class="button dropdown-toggle" data-toggle="dropdown">
                        Select a phenotype (current selection: phenotype <span class="variable_phe"></span>)
                    </button>
                    <div id="dropdown-div-phe" class="dropdown-content">
                        <input id="dropdown-input-phe" onkeyup="dropdown_filter('dropdown-div-phe', 'dropdown-input-phe')" type="text" placeholder="Search.." >
                        <!-- drop down items -->
                    </div>
                </div>
            </div>            
            
            <p>Which PCs are important for phenotype <span class="variable_phe_link"></span>?</p>
            
            <div id="phe_cosine_plot" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
        <div class="col col-md-6">
            <h3>Variant cosine score</h3>
            
            <div class="btn-group" role="group">
                <div class="dropdown" align="center">
                    <button onclick="dropdown_show('dropdown-div-var')" class="button dropdown-toggle" data-toggle="dropdown">
                        Select a variant (current selection: <span class="variable_var"></span>)
                    </button>
                    <div id="dropdown-div-var" class="dropdown-content">
                        <input id="dropdown-input-var" onkeyup="dropdown_filter('dropdown-div-var', 'dropdown-input-var')" type="text" placeholder="Search.." >
                        <!-- drop down items -->
                    </div>
                </div>
            </div>            
                        
            <p>Which PCs are important for variants <span class="variable_var_link"></span>?</p>        
            
            <div id="var_cosine_plot" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>

    </div> 
    
    <div class="row">
        <div class="col col-md-12">
            <h2>Contribution scores for <span class="variable_pc"></span></h2>
            <p>Given a PC, we can explorer the contribution of the phenotypes/variants to that component.</p>
        </div>
        
                            
    </div>
    <div class="row">        
        <div class="col col-md-6">
            <h3>Phenotype contribution score</h3> 
            
            <div class="btn-group" role="group">
                <div class="dropdown" align="center">
                    <button onclick="dropdown_show('dropdown-div-pc-phe')" class="button dropdown-toggle" data-toggle="dropdown">
                        Select PC (current selection: <span class="variable_pc"></span>)
                    </button>
                    <div id="dropdown-div-pc-phe" class="dropdown-content">
                        <input id="dropdown-input-pc-phe" onkeyup="dropdown_filter('dropdown-div-pc-phe', 'dropdown-input-pc-phe')" type="text" placeholder="Search.." >
                        <!-- drop down items -->
                    </div>
                </div>
            </div>            
            
            <p>Which phenotype is important for <span class="variable_pc"></span> ?</p>
            
            <div id="phe_contribution_plot" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
            
            <p><input type="radio" name="phe_contribution" id="phe_contribution_no"/> Do not open phenotype page </p>
            <p><input type="radio" name="phe_contribution" id="phe_contributoin_yes"/> Open the phenotype page on click</p>
            
        </div>
        <div class="col col-md-6">
            <h3>Variant contribution score</h3>
            
            <div class="btn-group" role="group">
                <div class="dropdown" align="center">
                    <button onclick="dropdown_show('dropdown-div-pc-var')" class="button dropdown-toggle" data-toggle="dropdown">
                        Select PC (current selection: <span class="variable_pc"></span>)
                    </button>
                    <div id="dropdown-div-pc-var" class="dropdown-content">
                        <input id="dropdown-input-pc-var" onkeyup="dropdown_filter('dropdown-div-pc-var', 'dropdown-input-pc-var')" type="text" placeholder="Search.." >
                        <!-- drop down items -->
                    </div>
                </div>
            </div>            
                        
            <p>Which variants are important for <span class="variable_pc"></span> ?</p>
            
            <div id="var_contribution_plot" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
            
            <p><input type="radio" name="var_contribution" id="var_contribution_no"/> Do not open variant page </p>
            <p><input type="radio" name="var_contribution" id="var_contributoin_yes"/> Open the variant page on click</p>
            
        </div>

    </div>
    
    
   
    
    <div class="row">
        <div class="col col-md-12">
            <h2>Singular value decomposition of summary statistics matrix</h2>
        </div>                                    
    </div>
    <div class="row">        
        <div class="col col-md-6">
            <h3>PCA plot for phenotypes</h3>                     
            <div id="pca_plot_phe" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>            
        </div>
        <div class="col col-md-6">
            <h3>PCA plot for variants</h3>                     
            <div id="pca_plot_var" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>                        
        </div>        
    </div>    
    <div class="row">        
        <div class="col col-md-6">
            <h3>Variance explained plot</h3>
            <div id="var_explained_plot" style:width: 100%>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>

        </div>
    </div>  
    
    
    <div class="row">
        <h2>debug</h2>
        <p>{{ debug_str }}</p>
        <div id="dev"></div>        
    </div>
    
    <div class="row">
        <h1>Frequently Asked Questions</h1>
        <br/>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">How should I cite discoveries made using Global Biobank Engine?</h4>
     <p>
                We request that any use of data obtained from the Global Biobank Engine be cited in publications using the following format:
            </p>
            <ul>
                <li>
                 Global Biobank Engine, Stanford, CA (URL: <a href="http://gbe.stanford.edu/">http://gbe.stanford.edu/</a>) [date (month, year) accessed].</li>
            </ul>
            <p>
                We also ask that the developers of the engine be acknowledged as follows:
            </p>
            <ul>
                <li>The authors would like to thank the Rivas lab for making the resource available.</li>
            </ul>

           </div>
        </li>
        </ul>
    </div>
</div>
{% endblock %}
