{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Frequently Asked Questions</h1>
        <br/>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">How should I cite discoveries made using Global Biobank Engine?</h4>
     <p>
                We request that any use of data obtained from the Global Biobank Engine be cited in publications using the following format:
            </p>
            <ul>
                <li>
                 Global Biobank Engine, Stanford, CA (URL: <a href="http://gbe.stanford.edu/">http://gbe.stanford.edu/</a>) [date (month, year) accessed].                </li>
            </ul>
            <p>
                We also ask that the developers of the engine be acknowledged as follows:
            </p>
            <ul>
                <li>The authors would like to thank the Rivas lab for making the resource available.</li>
            </ul>

		   </div>
		</li>
	    </ul>
 <div class="col-md-4">
                <h3 align="center">Up next</h3>
		<h4>August 10-14, 2017</h4> - Imputation results upload with (<a href="http://www.nealelab.is/">Neale Lab</a>).
                <h3 align="center">Recent News</h3>
		<h4>August 12, 2017</h4> - Support for UK Biobank minor allele frequency.
		<h4>August 9, 2017</h4> - Support for spanish translation.
                <h4>August 9, 2017</h4> - Initial support for quantitative measures (<a href="#" class="text-warning">more QC required</a>).
                <h4>August 8, 2017</h4> - Included cluster plots for PTVs (see <a href="https://biobankengine.stanford.edu/intensity/rs328">example</a>). Updated support for region and variant search (se\
e example, Thanks to <a href="https://www.atgu.mgh.harvard.edu/people/raymond_walters">Raymond Walters</a>).
                <h4>August 7, 2017</h4> - Links to Mouse Knockout project
                <h4>July 24, 2017</h4> - Initial support for 337,000 individuals in UK Biobank
                <h4>July 10, 2017</h4> - Added support for HWE filtering and cancer phenotypes
                <h4>July 7, 2017</h4> - Added support for region search (phenotype tooltips soon)
                <h4>July 2, 2017</h4> - Quality control of variants
                <h4>July 2, 2017</h4> - Additional data loaded along with phenotype tooltips
		<h4>June 7, 2017</h4> - Public release of Global Biobank Engine!
                <h4>April 1, 2017</h4> - Internal release.
            </div>

    </div>
{% endblock %}
