{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Frequently Asked Questions</h1>
        <br/>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">How should I cite discoveries made using Global Biobank Engine?</h4>
     <p>
                We request that any use of data obtained from the Global Biobank Engine be cited in publications using the following format:
            </p>
            <ul>
                <li>
                 Global Biobank Engine, Stanford, CA (URL: <a href="http://gbe.stanford.edu/">http://gbe.stanford.edu/</a>) [date (month, year) accessed].                </li>
            </ul>
            <p>
                We also ask that the developers of the engine be acknowledged as follows:
            </p>
            <ul>
                <li>The authors would like to thank the Rivas lab for making the resource available.</li>
            </ul>
<br>
                    <h4 class="media-heading">Why SciDB?</h4>
		    <p>We performed a thorough benchmark of the database options available to us. SciDB exceeded our expectation and met all of our needs. <a href="http://med.stanford.edu/content/dam/sm/rivaslab/documents/Database_Rivas2017.pdf">Read here for more information.</a> </p>
		   </div>
		</li>
	    </ul>
    </div>
{% endblock %}
