<! -- We generate the HTML strings on Google Spreadsheet and copy & paste to update this section: http://bit.ly/GBE_paper_list -->

<h3>preprints</h3>

<h4>29 July 2020</h4> - <a href="https://doi.org/10.1101/2020.07.27.20163147">High-throughput SARS-CoV-2 and host genome sequencing from single nasopharyngeal swabs </a> 
<h4>22 June 2020</h4> - <a href="https://doi.org/10.1101/2020.06.21.163675">Fast Sparse-Group Lasso Method for Multi-response Cox Model with Applications to UK Biobank </a> 
<h4>30 May 2020</h4> - <a href="https://doi.org/10.1101/2020.05.30.125252">Large-Scale Sparse Regression for Multiple Responses with Applications to UK Biobank </a> 
<h4>28 May 2020</h4> - <a href="https://doi.org/10.1101/2020.05.28.119669">Pervasive additive and non-additive effects within the HLA region contribute to disease risk in the UK Biobank </a> 
<h4>14 April 2020</h4> - <a href="https://doi.org/10.1101/2020.04.09.20060012">Cardiac imaging of aortic valve area from 26,142 UK Biobank participants reveal novel genetic associations and shared genetic comorbidity with multiple disease phenotypes </a> 
<h4>24 March 2020</h4> - <a href="https://doi.org/10.20944/preprints202003.0356.v1">Initial review and analysis of COVID-19 host genetics and associated phenotypes</a> 
<h4>21 January 2020</h4> - <a href="https://doi.org/10.1101/2020.01.20.913194">Fast Lasso method for Large-scale and Ultrahigh-dimensional Cox Model with applications to UK Biobank </a> 
<h4>15 December 2019</h4> - <a href="https://doi.org/10.1101/2019.12.13.876250">Medical relevance of common protein-altering variants in GPCR genes across 337,205 individuals in the UK Biobank study</a> 
<h4>17 October 2019</h4> - <a href="https://doi.org/10.1101/808675">Polygenic risk modeling with latent trait-related genetic components</a> 
<h4>14 October 2019</h4> - <a href="https://doi.org/10.1101/791517">Reported CCR5-∆32 deviation from Hardy-Weinberg equilibrium is explained by poor genotyping of rs62625034</a> 
<h4>20 August 2019</h4> - <a href="https://doi.org/10.1101/730200">WhichTF is dominant in your open chromatin data?</a> 
<h4>5 June 2019</h4> - <a href="https://doi.org/10.1101/660506">Genetics of 38 blood and urine biomarkers in the UK Biobank</a> 
<h4>7 May 2019</h4> - <a href="https://doi.org/10.1101/630079">A Fast and Flexible Algorithm for Solving the Lasso in Large-scale and Ultrahigh-dimensional Problems</a> 
<h4>4 March 2019</h4> - <a href="https://doi.org/10.1101/566133">Constraint-based analysis for causal discovery in population-based biobanks</a> 
<h4>4 October 2018</h4> - <a href="https://doi.org/10.1101/429720">FasTag: automatic text classification of unstructured medical narratives</a> (Original title: "Deep learning facilitates rapid cohort identification using human and veterinary clinical narratives")
<h4>31 January 2018</h4> - <a href="https://doi.org/10.1101/257162">Bayesian model comparison for rare variant association studies of multiple phenotypes</a> 


<h3>Refereed papers</h3>

<h4>20 Sept 2020</h4> - <a href="https://doi.org/10.1038/s41431-020-00712-w">Sex-specific genetic effects across biomarkers</a> 
<h4>7 May 2020</h4> - <a href="https://doi.org/10.1016/j.ajhg.2020.03.007">Assessing digital phenotyping to enhance genetic studies of human diseases</a> 
<h4>5 May 2020</h4> - <a href="http://doi.org/10.1371/journal.pgen.1008682">Rare protein-altering variants in ANGPTL7 lower intraocular pressure and protect against glaucoma</a> 
<h4>6 September 2019</h4> - <a href="https://doi.org/10.1038/s41467-019-11953-9">Components of genetic associations across 2,138 phenotypes in the UK Biobank highlight adipocyte biology</a> (<a href="https://gbe.stanford.edu/degas">DeGAs app on GBE</a>)
<h4>1 August 2019</h4> - <a href="https://doi.org/10.1016/j.ajhg.2019.07.001">Phenome-wide Burden of Copy-Number Variation in the UK Biobank</a> 
<h4>31 July 2019</h4> - <a href="https://doi.org/10.1093/hmg/ddz189">Rare and common variant discovery in complex disease: the IBD case study</a> 
<h4>29 March 2019</h4> - <a href="https://doi.org/10.1038/s41588-019-0385-z">Vulnerabilities of transcriptome-wide association studies</a> 
<h4>4 January 2019</h4> - <a href="https://doi.org/10.1038/s41380-018-0326-8">Significant shared heritability underlies suicide attempt and clinically predicted probability of attempting suicide</a> 
<h4>5 December 2018</h4> - <a href="https://doi.org/10.1093/bioinformatics/bty999">Global Biobank Engine: enabling genotype-phenotype browsing for biobank summary statistics</a> 
<h4>30 November 2018</h4> - <a href="https://doi.org/10.1142/9789813279827_0017">SNPs2ChIP: Latent Factors of ChIP-seq to infer functions of non-coding SNPs</a> 
<h4>24 October 2018</h4> - <a href="https://doi.org/10.1038/s41746-018-0067-8">DeepTag: inferring diagnoses from veterinary clinical notes</a> 
<h4>11 Jul 2018</h4> - <a href="https://doi.org/10.1161/CIRCGEN.118.002162">Large-scale phenome-wide association study of PCSK9 loss-of-function variants demonstrates protection against ischemic stroke</a> 
<h4>24 May 2018</h4> - <a href="https://doi.org/10.1371/journal.pgen.1007329">Insights into the genetic epidemiology of Crohn's and rare diseases in the Ashkenazi Jewish population</a> 
<h4>24 April 2018</h4> - <a href="https://doi.org/10.1038/s41467-018-03910-9">Medical relevance of protein-truncating variants across 337,208 individuals in the UK Biobank study</a> (<a href="https://www.youtube.com/watch?v=JpFFjjoTMLk">video journal club</a>)

