{% extends "layout.html" %}
{% block body %}
<style>
input[type=submit] {
    width: 100%;
    background-color: #8C1515;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8D3C1E;
}
</style>
<head>
  <script>
  function myFunction() {
      var x = document.createElement("INPUT");
      x.setAttribute("type", "file");
      document.body.appendChild(x);
  }
  </script>

</head>

<div class="container">
    <div class="row" style="font-size: 16px;">
    <form method=post enctype=multipart/form-data>
         <h1> MRP Inference Engine </h1>
       MRP is a statistical framework for variant association studies that considers correlation, scale, and location of genetic effects across a group of genetic variants, phenotypes, and studies.
       <hr>

        <label for="gene_text">List genes, one per row:</label>
        <br>
        <textarea id="gene_text" Name="gene_text" rows="4" cols="20"></textarea>
<br>

          <label for="file">Or upload a file of gene names, one per row:</label>
          <input type="file" id="file">



            <label for="function">Select the types of variants MRP should consider:</label>
          <select class="selectpicker" id="function", name="function" data-style="btn-primary" data-width="fit">
            <option value="['missense_variant','lof_variant']">Missense + PTV</option>
            <option value="['missense_variant']">Missense</option>
            <option value="['lof_variant']">PTV</option>
          </select>

           <br>
            <label for="functionfdr">Select the false discovery rate (FDR):</label>
          <select id="functionfdr", name="functionfdr" class="selectpicker" data-style="btn-primary" data-width="fit">
            <option value="[1]">1%</option>
            <option value="[5]">5%</option>
            <option value="[10]">10%</option>
          </select>

<br>
<label for="functionphen">Select the phenotype(s):</label>
	      <select name="phenotypes[]" class="selectpicker" data-live-search="true"  multiple="multiple" data-width="fit" />
<option value="cancer1003">skin cancer (6250)</option>
<option value="cancer1060">non-melanoma skin cancer (5478)</option>
<option value="cancer1002">breast cancer (3556)</option>
<option value="cancer1044">prostate cancer (2203)</option>
<option value="cancer1037">female genital tract cancer (1683)</option>
<option value="cancer1020">large bowel cancer/colorectal cancer (1478)</option>
<option value="cancer1059">malignant melanoma (1343)</option>
<option value="cancer1038">male genital tract cancer (1184)</option>
<option value="cancer1022">colon cancer/sigmoid cancer (1092)</option>
<option value="cancer1041">cervical cancer (978)</option>
<option value="cancer1084">respiratory / intrathoracic cancer (951)</option>
<option value="cancer1001">lung cancer (800)</option>
<option value="cancer1035">bladder cancer (698)</option>
<option value="cancer1023">rectal cancer (694)</option>
<option value="cancer1047">lymphoma (620)</option>
<option value="cancer1085">bone metastases / bony secondaries (603)</option>
<option value="cancer1040">uterine/endometrial cancer (534)</option>
<option value="cancer1053">non-hodgkins lymphoma (486)</option>
<option value="cancer1039">ovarian cancer (388)</option>
<option value="cancer1034">kidney/renal cell cancer (372)</option>
<option value="cancer1048">leukaemia (281)</option>
<option value="cancer1045">testicular cancer (245)</option>
<option value="cancer1017">oesophageal cancer (245)</option>
<option value="cancer1004">cancer of lip/mouth/pharynx/oral cavity (226)</option>
<option value="cancer1018">stomach cancer (214)</option>
<option value="cancer1026">pancreas cancer (209)</option>
<option value="cancer1055">chronic lymphocytic (198)</option>
<option value="cancer1032">brain cancer / primary malignant brain tumour (188)</option>
<option value="cancer1065">thyroid cancer (180)</option>
<option value="cancer1024">liver/hepatocellular cancer (173)</option>
<option value="cancer1050">multiple myeloma (155)</option>
<option value="cancer1052">hodgkins lymphoma / hodgkins disease (144)</option>
<option value="cancer1056">chronic myeloid (143)</option>
<option value="cancer1006">larynx/throat cancer (132)</option>
<option value="cancer1019">small intestine/small bowel cancer (122)</option>
<option value="cancer1011">tongue cancer (110)</option>
<option value="cancer1074">acute myeloid leukaemia (99)</option>
<option value="cancer1068">sarcoma/fibrosarcoma (87)</option>
<option value="cancer1025">gallbladder/bile duct cancer (82)</option>
<option value="cancer1030">eye and/or adnexal cancer (78)</option>
<option value="cancer1077">mouth cancer (69)</option>
<option value="cancer1063">primary bone cancer (64)</option>
<option value="cancer1064">mesothelioma (61)</option>
<option value="RH141">osteoarthritis (14793)</option>
<option value="RH160">asthma (10608)</option>
<option value="RH134">diabetes mellitus type 2 (7825)</option>
<option value="RH107">acquired hypothyroidism (5271)</option>
<option value="RH32">depression (4703)</option>
<option value="RH9">hyperplasia of the prostate (4326)</option>
<option value="RH24">cataract (3205)</option>
<option value="RH48">skin cyst (3078)</option>
<option value="RH45">prostate cancer (2827)</option>
<option value="RH3">acute myocardial infarction (2073)</option>
<option value="RH95">colorectal cancer (1863)</option>
<option value="RH91">anxiety (1822)</option>
<option value="RH56">deep vein thrombosis (1621)</option>
<option value="RH81">pulmonary embolism and infarction (1440)</option>
<option value="RH86">epilepsy (1410)</option>
<option value="RH110">cerebral infarction (1267)</option>
<option value="RH36">eczema (1238)</option>
<option value="RH140">melanoma (1150)</option>
<option value="RH130">diabetes mellitus type 1 (1127)</option>
<option value="RH145">lung cancer (1045)</option>
<option value="RH129">migraine (1032)</option>
<option value="RH74">rheumatoid arthritis (1012)</option>
<option value="RH119">glaucoma (961)</option>
<option value="RH108">emphysema (852)</option>
<option value="RH146">bladder cancer (841)</option>
<option value="RH89">psoriasis (814)</option>
<option value="RH128">crohns disease (676)</option>
<option value="RH7">gout (670)</option>
<option value="RH150">celiac disease (657)</option>
<option value="RH67">unspecified viral infection (common cold) (646)</option>
<option value="RH122">uterine cancer (546)</option>
<option value="RH65">bipolar disorder (404)</option>
<option value="RH159">parkinsonism (396)</option>
<option value="RH157">bronchitis (389)</option>
<option value="RH50">lymphosarcoma/reticulorsarcoma (273)</option>
<option value="RH99">gastric cancer (251)</option>
<option value="RH94">schizophrenia (238)</option>
<option value="RH77">sarcoidosis (224)</option>
<option value="RH60">liche (222)</option>
<option value="RH126">phobia (209)</option>
-<option value="RH156">malignant brain neoplasm (198)</option>
<option value="RH131">haemophilia (172)</option>
<option value="RH51">lupus (163)</option>
<option value="RH84">rosacea (120)</option>
<option value="RH37">hypopituitarism (105)</option>
<option value="FH1065">high blood pressure (91063)</option>
<option value="FH1001">lung cancer (55698)</option>
<option value="FH1220">diabetes (38169)</option>
<option value="FH1113">chronic bronchitis/emphysema (36413)</option>
<option value="FH1019">bowel cancer (33362)</option>
<option value="FH1002">breast cancer (27618)</option>
<option value="FH1286">severe depression (24788)</option>
<option value="FH1263">Alzheimer's disease/dementia (22909)</option>
<option value="FH1044">prostate cancer (15241)</option>
<option value="FH1262">Parkinson's disease (9688)</option>
<option value="HC111">essential hypertension (30491)</option>
<option value="HC153">asthma (21217)</option>
<option value="HC37">high cholesterol (20478)</option>
<option value="HC154">osteoarthritis (13560)</option>
<option value="HC430">depression (9493)</option>
<option value="HC39">hayfever/allergic rhinitis (9064)</option>
<option value="HC199">inguinal hernia (6134)</option>
<option value="HC367">cholecystitis (6022)</option>
<option value="HC268">atrial fibrillation (5689)</option>
<option value="HC292">atrial flutter (5474)</option>
<option value="HC306">irritable bowel syndrome (5113)</option>
<option value="HC69">dyspepsia / indigestion (4701)</option>
<option value="HC212">chronic obstructive airways disease/copd (4513)</option>
<option value="HC281">respiratory infection (4267)</option>
<option value="HC412">back pain (4259)</option>
<option value="HC179">osteoporosis (4188)</option>
<option value="HC220">constipation (4165)</option>
<option value="HC185">joint pain (3642)</option>
<option value="HC320">deep venous thrombosis (dvt) (3030)</option>
<option value="HC112">cellulitis (2951)</option>
<option value="HC246">gout (2941)</option>
<option value="HC75">stroke (2784)</option>
<option value="HC150">back problem (2748)</option>
<option value="HC399">glaucoma (2682)</option>
<option value="HC57">prolapsed disc/slipped disc (2639)</option>
<option value="HC370">appendicitis (2527)</option>
<option value="HC5">bronchitis (2412)</option>
<option value="HC156">sciatica (2407)</option>
<option value="HC227">uterine fibroids (2385)</option>
<option value="HC122">endometriosis (2361)</option>
<option value="HC59">pulmonary embolism +/- dvt (2248)</option>
<option value="HC282">anxiety/panic attacks (2208)</option>
<option value="HC404">subdural haemorrhage/haematoma (2066)</option>
<option value="HC390">pleural effusion (2061)</option>
<option value="HC198">sleep apnoea (2051)</option>
<option value="HC50">fracture radius (1998)</option>
<option value="HC425">cervical spondylosis (1992)</option>
<option value="HC244">diverticular disease/diverticulitis (1790)</option>
<option value="HC19">umbilical hernia (1601)</option>
<option value="HC360">spinal stenosis (1450)</option>
<option value="HC192">allergy or anaphylactic reaction to drug (1443)</option>
<option value="HC103">whooping cough / pertussis (1430)</option>
<option value="HC16">spine arthritis/spondylitis (1409)</option>
<option value="HC363">headaches (not migraine) (1382)</option>
<option value="HC415">ear/vestibular disorder (1375)</option>
<option value="HC359">transient ischaemic attack (tia) (1309)</option>
<option value="HC283">muscle/soft tissue problem (1303)</option>
<option value="HC273">ovarian cyst or cysts (1299)</option>
<option value="HC200">muscle or soft tissue injuries (1254)</option>
<option value="HC271">type 2 diabetes (1248)</option>
<option value="HC414">svt / supraventricular tachycardia (1216)</option>
<option value="HC343">retinal detachment (1215)</option>
<option value="HC89">eye/eyelid problem (1170)</option>
<option value="HC43">peritonitis (1150)</option>
<option value="HC242">allergy/hypersensitivity/anaphylaxis (1106)</option>
<option value="HC12">tonsiltis (1101)</option>
<option value="HC313">benign breast lump (1058)</option>
<option value="HC248">pancreatitis (1019)</option>
<option value="HC188">respiratory failure (995)</option>
<option value="HC194">bronchiectasis (958)</option>
<option value="HC148">bursitis (918)</option>
<option value="HC119">malabsorption/coeliac disease (905)</option>
<option value="HC110">vaginal prolapse/uterine prolapse (859)</option>
<option value="HC102">joint disorder (843)</option>
<option value="HC23">fracture tibia (829)</option>
<option value="HC437">urinary frequency / incontinence (800)</option>
<option value="HC324">fracture upper arm / humerus / elbow (798)</option>
<option value="HC277">helicobacter pylori (792)</option>
<option value="HC82">crohns disease (789)</option>
<option value="HC381">allergy or anaphylactic reaction to food (775)</option>
<option value="HC429">gall bladder disease (765)</option>
<option value="HC380">pleurisy (765)</option>
<option value="HC403">meningitis (737)</option>
<option value="HC438">aortic stenosis (735)</option>
<option value="HC99">stomach disorder (732)</option>
<option value="HC314">fracture finger (668)</option>
<option value="HC201">fracture ulna (667)</option>
<option value="HC255">multiple sclerosis (665)</option>
<option value="HC333">chronic fatigue syndrome (661)</option>
<option value="HC61">bone disorder (657)</option>
<option value="HC276">polymyalgia rheumatica (617)</option>
<option value="HC177">other demyelinating disease (not multiple sclerosis) (600)</option>
<option value="HC355">tinnitus / tiniitis (593)</option>
<option value="HC408">nasal/sinus disorder (591)</option>
<option value="HC378">aortic aneurysm rupture (589)</option>
<option value="HC245">ankylosing spondylitis (574)</option>
<option value="HC431">fibromyalgia (550)</option>
<option value="HC361">heart/cardiac problem (530)</option>
<option value="HC252">subarachnoid haemorrhage (514)</option>
<option value="HC18">trapped nerve/compressed nerve (507)</option>
<option value="HC308">pernicious anaemia (484)</option>
<option value="HC326">colitis/not crohns or ulcerative colitis (474)</option>
<option value="HC34">mania/bipolar disorder/manic depression (472)</option>
<option value="HC180">fracture wrist / colles fracture (472)</option>
<option value="HC115">menorrhagia (unknown cause) (470)</option>
<option value="HC160">pneumothorax (465)</option>
<option value="HC113">parkinsons disease (461)</option>
<option value="HC6">osteopenia (456)</option>
<option value="HC311">uterine polyps (450)</option>
<option value="HC315">osteomyelitis (445)</option>
<option value="HC170">prostatitis (438)</option>
<option value="HC238">bile duct obstruction/ascending cholangitis (425)</option>
<option value="HC372">fracture rib (410)</option>
<option value="HC256">miscarriage (410)</option>
<option value="HC222">thyroid problem (not cancer) (398)</option>
<option value="HC134">ureteric obstruction/hydronephrosis (393)</option>
<option value="HC312">labyrinthitis (388)</option>
<option value="HC54">pulmonary fibrosis (377)</option>
<option value="HC317">fracture fibula (373)</option>
<option value="HC210">bph / benign prostatic hypertrophy (353)</option>
<option value="HC127">tennis elbow / lateral epicondylitis (331)</option>
<option value="HC169">vertigo (324)</option>
<option value="HC209">epicondylitis (301)</option>
<option value="HC44">liver/biliary/pancreas problem (299)</option>
<option value="HC413">dry eyes (288)</option>
<option value="HC236">gastritis/gastric erosions (277)</option>
<option value="HC400">fracture clavicle / collar bone (276)</option>
<option value="HC354">abdominal hernia (272)</option>
<option value="HC197">alcohol dependency (271)</option>
<option value="HC189">pericardial effusion (271)</option>
<option value="HC374">peripheral neuropathy (262)</option>
<option value="HC208">gynaecological disorder (not cancer) (258)</option>
<option value="HC349">femoral hernia (256)</option>
<option value="HC319">polycystic ovaries/polycystic ovarian syndrome (253)</option>
<option value="HC152">sjogren's syndrome/sicca syndrome (249)</option>
<option value="HC239">retinal problem (248)</option>
<option value="HC323">fracture nose (244)</option>
<option value="HC28">abnormal smear (cervix) (243)</option>
<option value="HC133">blepharitis / eyelid infection (243)</option>
<option value="HC106">polycythaemia vera (243)</option>
<option value="HC269">nervous breakdown (239)</option>
<option value="HC38">fracture patella / knee (237)</option>
<option value="HC157">burns (236)</option>
<option value="HC339">cerebral aneurysm (231)</option>
<option value="HC2">testicular problems (not cancer) (228)</option>
<option value="HC207">lymphoedema (225)</option>
<option value="HC74">fracture toe (224)</option>
<option value="HC55">malaria (224)</option>
<option value="HC309">fracture metatarsal (217)</option>
<option value="HC249">mitral valve prolapse (213)</option>
<option value="HC278">throat or larynx disorder (210)</option>
<option value="HC335">trigemminal neuralgia (200)</option>
<option value="HC427">raynaud's phenomenon/disease (194)</option>
<option value="HC126">spinal cord disorder (193)</option>
<option value="HC368">interstitial lung disease (192)</option>
<option value="HC270">disorder or pituitary gland (192)</option>
<option value="HC100">sclerosing cholangitis (190)</option>
<option value="HC64">bell's palsy/facial nerve palsy (188)</option>
<option value="HC392">vocal cord polyp (178)</option>
<option value="HC264">mrsa / methicillin resistant staphylococcus aureus (177)</option>
<option value="HC7">fracture thumb (176)</option>
<option value="HC303">thyroiditis (173)</option>
<option value="HC279">menopausal symptoms / menopause (172)</option>
<option value="HC88">otosclerosis (169)</option>
<option value="HC405">insomnia (165)</option>
<option value="HC145">shingles (162)</option>
<option value="HC98">hypopituitarism (159)</option>
<option value="HC280">thyroid goitre (159)</option>
<option value="HC135">neck problem/injury (158)</option>
<option value="HC328">non-infective hepatitis (155)</option>
<option value="HC48">jaundice (unknown cause) (153)</option>
<option value="HC24">giant cell/temporal arteritis (153)</option>
<option value="HC214">post-natal depression (153)</option>
<option value="HC445">post-traumatic stress disorder (152)</option>
<option value="HC92">disc problem (149)</option>
<option value="HC386">psychological/psychiatric problem (148)</option>
<option value="HC254">pericarditis (146)</option>
<option value="HC202">leg claudication/ intermittent claudication (146)</option>
<option value="HC20">type 1 diabetes (146)</option>
<option value="HC71">sick sinus syndrome (140)</option>
<option value="HC41">polio / poliomyelitis (140)</option>
<option value="HC14">retinal artery/vein occlusion (138)</option>
<option value="HC304">tendonitis / tendinitis / tenosynovitis (137)</option>
<option value="HC101">hereditary/genetic haematological disorder (137)</option>
<option value="HC347">clotting disorder/excessive bleeding (136)</option>
<option value="HC295">macular degeneration (136)</option>
<option value="HC375">hiv/aids (134)</option>
<option value="HC141">low platelets/platelet disorder (129)</option>
<option value="HC121">breast disease (not cancer) (129)</option>
<option value="HC125">fracture vertebra / crush fracture / vertebral collapse (128)</option>
<option value="HC331">renal failure not requiring dialysis (127)</option>
<option value="HC94">septicaemia / sepsis (125)</option>
<option value="HC247">monoclonal gammopathy/not myeloma (121)</option>
<option value="HC51">dupuytren's contracture (120)</option>
<option value="HC350">erectile dysfunction / impotence (120)</option>
<option value="HC224">benign / essential tremor (120)</option>
<option value="HC346">acute infective polyneuritis/guillain-barre syndrome (116)</option>
<option value="HC17">cervical intra-epithelial neoplasia (cin) / precancerous cells cervix (114)</option>
<option value="HC142">oesophageal disorder (113)</option>
<option value="HC143">allergy to house dust mite (112)</option>
<option value="HC117">pelvic inflammatory disease/ pid (109)</option>
<option value="HC342">dysmenorrhoea / dysmenorrhea (108)</option>
<option value="HC96">primary biliary cirrhosis (107)</option>
<option value="HC284">pyloric stenosis (105)</option>
<option value="HC162">contact dermatitis (104)</option>
<option value="HC441">motor neurone disease (102)</option>
<option value="HC211">pituitary adenoma/tumour (102)</option>
<option value="HC446">hypertension (36733)</option>
<option value="HC447">hiatus hernia (14078)</option>
<option value="HC448">other joint disorder (10611)</option>
<option value="HC449">gastro-oesophageal reflux (gord) / gastric reflux (10300)</option>
<option value="HC450">diabetes (7437)</option>
<option value="HC451">haemorrhoids / piles (6807)</option>
<option value="HC452">cataract (6509)</option>
<option value="HC453">hypothyroidism/myxoedema (6667)</option>
<option value="HC454">angina (6586)</option>
<option value="HC455">anaemia (5405)</option>
<option value="HC456">arthritis (nos) (5307)</option>
<option value="HC457">cholelithiasis/gall stones (5146)</option>
<option value="HC458">pneumonia (4452)</option>
<option value="HC459">heart attack/myocardial infarction (4319)</option>
<option value="HC460">migraine (3886)</option>
<option value="HC461">urinary tract infection/kidney infection (3972)</option>
<option value="HC462">eczema/dermatitis (3985)</option>
<option value="HC463">varicose veins (3337)</option>
<option value="HC464">oesophagitis/barretts oesophagus (3344)</option>
<option value="HC465">iron deficiency anaemia (2710)</option>
<option value="HC466">carpal tunnel syndrome (2849)</option>
<option value="HC467">renal/kidney failure (2485)</option>
<option value="HC468">fracture forearm / wrist (1965)</option>
<option value="HC469">fracture lower leg / ankle (2075)</option>
<option value="HC470">rheumatoid arthritis (1949)</option>
<option value="HC471">emphysema/chronic bronchitis (2306)</option>
<option value="HC472">psoriasis (1730)</option>
<option value="HC473">enlarged prostate (1754)</option>
<option value="HC474">heart failure/pulmonary odema (1704)</option>
<option value="HC475">nasal polyps (1578)</option>
<option value="HC476">head injury (1524)</option>
<option value="HC477">chronic sinusitis (1471)</option>
<option value="HC478">synovitis (1471)</option>
<option value="HC479">epilepsy (1478)</option>
<option value="HC480">inflammatory bowel disease (1349)</option>
<option value="HC481">hyperthyroidism/thyrotoxicosis (1239)</option>
<option value="HC482">duodenal ulcer (1245)</option>
<option value="HC483">peripheral vascular disease (1289)</option>
<option value="HC484">bowel / intestinal obstruction (1274)</option>
<option value="HC485">ulcerative colitis (1122)</option>
<option value="HC486">disc degeneration (989)</option>
<option value="HC487">anal fissure (924)</option>
<option value="HC488">cystitis (941)</option>
<option value="HC489">kidney stone/ureter stone/bladder stone (934)</option>
<option value="HC490">connective tissue disorder (817)</option>
<option value="HC491">gastric/stomach ulcers (855)</option>
<option value="HC492">fracture hand (821)</option>
<option value="HC493">fracture shoulder / scapula (801)</option>
<option value="HC494">chickenpox (847)</option>
<option value="HC495">heart valve problem/heart murmur (822)</option>
<option value="HC496">fracture neck of femur / hip (796)</option>
<option value="HC497">fracture skull / head (680)</option>
<option value="HC498">bladder problem (not cancer) (693)</option>
<option value="HC499">measles / morbillivirus (747)</option>
<option value="HC500">tuberculosis (tb) (598)</option>
<option value="HC501">cerebral palsy (640)</option>
<option value="HC502">heart arrhythmia (673)</option>
<option value="HC503">emphysema (697)</option>
<option value="HC504">fracture sternum (553)</option>
<option value="HC505">other renal/kidney problem (487)</option>
<option value="HC506">spontaneous pneumothorax/recurrent pneumothorax (419)</option>
<option value="HC507">gestational hypertension/pre-eclampsia (447)</option>
<option value="HC508">other neurological problem (477)</option>
<option value="HC509">breast cysts (431)</option>
<option value="HC510">cardiomyopathy (468)</option>
<option value="HC511">hepatitis (380)</option>
<option value="HC512">female infertility (377)</option>
<option value="HC513">fracture pelvis (408)</option>
<option value="HC514">fracture foot (469)</option>
<option value="HC515">stress (418)</option>
<option value="HC516">meniere's disease (374)</option>
<option value="HC517">aortic aneurysm (492)</option>
<option value="HC518">mumps / epidemic parotitis (429)</option>
<option value="HC519">urticaria (365)</option>
<option value="HC520">aortic dissection (480)</option>
<option value="HC521">nephritis (373)</option>
<option value="HC522">hypertrophic cardiomyopathy (hcm / hocm) (393)</option>
<option value="HC523">scoliosis (367)</option>
<option value="HC524">rectal or colon adenoma/polyps (363)</option>
<option value="HC525">rheumatic fever (334)</option>
<option value="HC526">rectal prolapse (329)</option>
<option value="HC527">psoriatic arthropathy (315)</option>
<option value="HC528">anorexia/bulimia/other eating disorder (312)</option>
<option value="HC529">sarcoidosis (307)</option>
<option value="HC530">diabetic eye disease (258)</option>
<option value="HC531">rosacea (295)</option>
<option value="HC532">alcoholic liver disease / alcoholic cirrhosis (300)</option>
<option value="HC533">arterial embolism (296)</option>
<option value="HC534">infective/viral hepatitis (214)</option>
<option value="HC535">schizophrenia (225)</option>
<option value="HC536">peptic ulcer (233)</option>
<option value="HC537">hyperparathyroidism (236)</option>
<option value="HC538">irregular heart beat (221)</option>
<option value="HC539">spinal injury (207)</option>
<option value="HC540">disorder of adrenal gland (233)</option>
<option value="HC541">rubella / german measles (235)</option>
<option value="HC542">lichen planus (203)</option>
<option value="HC543">prostate problem (not cancer) (195)</option>
<option value="HC544">ectopic pregnancy (179)</option>
<option value="HC545">other respiratory problems (205)</option>
<option value="HC546">infectious mononucleosis / glandular fever / epstein barr virus (ebv) (189)</option>
<option value="HC547">systemic lupus erythematosis/sle (174)</option>
<option value="HC548">blistering/desquamating skin disorder (177)</option>
<option value="HC549">scarlet fever / scarlatina (181)</option>
<option value="HC550">eye trauma (167)</option>
<option value="HC551">other abdominal problem (176)</option>
<option value="HC552">oesophageal varicies (163)</option>
<option value="HC553">encephalitis (133)</option>
<option value="HC554">parathyroid gland problem (not cancer) (135)</option>
<option value="HC555">herpes simplex (115)</option>
<option value="HC556">aplastic anaemia (131)</option>
<option value="HC557">breast fibroadenoma (125)</option>
<option value="HC558">fracture shaft of femur (116)</option>
<option value="HC559">eye infection (113)</option>
<option value="HC560">polycystic kidney (104)</option>
<option value="HC561">brain abscess/intracranial abscess (109)</option>
<option value="HC562">food intolerance (110)</option>
<option value="HC563">fracture neck / cervical fracture (99)</option>
<option value="HC564">acne/acne vulgaris (106)</option>
<option value="MED1">paracetamol (21364)</option>
<option value="MED2">aspirin (16007)</option>
<option value="MED3">ibuprofen (14234)</option>
<option value="MED4">simvastatin (13918)</option>
<option value="MED5">glucosamine_product (7710)</option>
<option value="MED6">omeprazole (7100)</option>
<option value="MED7">cod_liver_oil_capsule (6786)</option>
<option value="MED8">bendroflumethiazide (6606)</option>
<option value="MED9">ramipril (5708)</option>
<option value="MED10">amlodipine (4958)</option>
<option value="MED11">levothyroxine_sodium (4738)</option>
<option value="MED12">atenolol (4596)</option>
<option value="MED13">omega-3/fish_oil_supplement (4486)</option>
<option value="MED14">lansoprazole (4278)</option>
<option value="MED15">ventolin_100micrograms_inhaler (3795)</option>
<option value="MED16">atorvastatin (3791)</option>
<option value="MED17">multivitamins (3646)</option>
<option value="MED18">lisinopril (3328)</option>
<option value="MED19">metformin (3180)</option>
<option value="MED20">co-codamol (2902)</option>
<option value="MED21">diclofenac (2394)</option>
<option value="MED22">amitriptyline (2287)</option>
<option value="MED23">citalopram (2080)</option>
<option value="MED24">ranitidine (1886)</option>
<option value="MED25">bisoprolol (1829)</option>
<option value="MED26">evening_primrose_oil (1808)</option>
<option value="MED27">perindopril (1739)</option>
<option value="MED28">multivitamin+mineral_preparations (1661)</option>
<option value="MED29">garlic_product (1600)</option>
<option value="MED30">seretide_50_evohaler (1576)</option>
<option value="MED31">salbutamol (1560)</option>
<option value="MED32">vitamin_c_product (1468)</option>
<option value="MED33">chondroitin_product (1444)</option>
<option value="MED34">fluoxetine (1413)</option>
<option value="MED35">tramadol (1363)</option>
<option value="MED36">allopurinol (1354)</option>
<option value="MED37">cetirizine (1338)</option>
<option value="MED38">doxazosin (1329)</option>
<option value="MED39">candesartan_cilexetil (1327)</option>
<option value="MED40">alendronate_sodium (1321)</option>
<option value="MED41">thyroxine_product (1261)</option>
<option value="MED42">warfarin (1243)</option>
<option value="MED43">insulin_product (1237)</option>
<option value="MED44">beclometasone (1163)</option>
<option value="MED45">tamsulosin (1137)</option>
<option value="MED46">calcichew_d3_tablet (1119)</option>
<option value="MED47">losartan (1096)</option>
<option value="MED48">gliclazide (1081)</option>
<option value="MED49">felodipine (1060)</option>
<option value="MED50">folic_acid_product (1018)</option>
<option value="MED51">furosemide (958)</option>
<option value="MED52">enalapril (905)</option>
<option value="MED53">irbesartan (895)</option>
<option value="MED54">lipitor_10mg_tablet (872)</option>
<option value="MED55">symbicort_100/6_turbohaler (855)</option>
<option value="MED56">loratadine (852)</option>
<option value="MED57">adcal-d3_1.5g/10micrograms_chewable_tablet (840)</option>
<option value="MED58">vitamin_b_compound_tablet (833)</option>
<option value="MED59">naproxen (812)</option>
<option value="MED60">quinine (809)</option>
<option value="MED61">salbutamol_100micrograms_spacehaler (798)</option>
<option value="MED62">clopidogrel (792)</option>
<option value="MED63">zinc_product (791)</option>
<option value="MED64">co-dydramol (790)</option>
<option value="MED65">beconase_50micrograms_nasal_spray (775)</option>
<option value="MED66">becotide_50_inhaler (755)</option>
<option value="MED67">rosuvastatin (753)</option>
<option value="MED68">aspirin_75mg_tablet (748)</option>
<option value="MED69">propranolol (747)</option>
<option value="MED70">ezetimibe (724)</option>
<option value="MED71">prednisolone (694)</option>
<option value="MED72">calcium_salts (666)</option>
<option value="MED73">ginkgo_forte_tablet (651)</option>
<option value="MED74">methotrexate (651)</option>
<option value="MED75">gaviscon_liquid (637)</option>
<option value="MED76">codeine (630)</option>
<option value="MED77">pravastatin (627)</option>
<option value="MED78">bendrofluazide (614)</option>
<option value="MED79">gabapentin (586)</option>
<option value="MED80">mebeverine (578)</option>
<option value="MED81">ferrous_sulphate (574)</option>
<option value="MED82">nasonex_0.05%_aqueous_nasal_spray (566)</option>
<option value="MED83">sertraline (548)</option>
<option value="MED84">fluticasone (545)</option>
<option value="MED85">calcium+vitamin_d_500units_tablet (531)</option>
<option value="MED86">valsartan (511)</option>
<option value="MED87">qvar_50_inhaler (504)</option>
<!--<option value="MED88">venlafaxine (490)</option>
<option value="MED89">beclomethasone (487)</option>
<option value="MED90">flixonase_50micrograms_aqueous_nasal_spray (463)</option>
<option value="MED91">premarin_625micrograms_tablet (459)</option>
<option value="MED92">zopiclone (442)</option>
<option value="MED93">vitamin_e_product (429)</option>
<option value="MED94">dihydrocodeine (424)</option>
<option value="MED95">food_supplement/plant/herbal_extract (420)</option>
<option value="MED96">co-enzyme_q10/ubiquinone/bio-quinone/coenzyme_q10 (407)</option>
<option value="MED97">nicorandil (407)</option>
<option value="MED98">betnovate_cream (405)</option>
<option value="MED99">loperamide (402)</option>
<option value="MED100">paroxetine (402)</option>
<option value="MED101">isosorbide_mononitrate (402)</option>
<option value="MED102">tiotropium (400)</option>
<option value="MED103">indapamide (398)</option>
<option value="MED104">esomeprazole (395)</option>
<option value="MED105">fexofenadine (394)</option>
<option value="MED106">finasteride (393)</option>
<option value="MED107">glyceryl_trinitrate (392)</option>
<option value="MED108">dosulepin (390)</option>
<option value="MED109">salamol_100micrograms_inhaler (387)</option>
<option value="MED110">beclazone_50_inhaler (385)</option>
<option value="MED111">serevent_25mcg_inhaler (385)</option>
<option value="MED112">vitamin_b12_preparation (379)</option>
<option value="MED113">selenium_product (371)</option>
<option value="MED114">vitamin_d_product (368)</option>
<option value="MED115">xalatan_0.005%_eye_drops (366)</option>
<option value="MED116">meloxicam (355)</option>
<option value="MED117">movicol_oral_powder (351)</option>
<option value="MED118">iron_product (346)</option>
<option value="MED119">adcal_600mg_chewable_tablet (344)</option>
<option value="MED120">betahistine (343)</option>
<option value="MED121">tamoxifen (343)</option>
<option value="MED122">mirtazapine (340)</option>
<option value="MED123">oxytetracycline (340)</option>
<option value="MED124">diazepam (334)</option>
<option value="MED125">salmeterol (322)</option>
<option value="MED126">digoxin (318)</option>
<option value="MED127">bricanyl_250mcg_inhaler (308)</option>
<option value="MED128">thyroxine_sodium (304)</option>
<option value="MED129">vitamin_c_product (303)</option>
<option value="MED130">lactulose_product (296)</option>
<option value="MED131">gtn_400micrograms_spray (294)</option>
<option value="MED132">sumatriptan (286)</option>
<option value="MED133">lercanidipine (285)</option>
<option value="MED134">vagifem_25mcg_pessary (285)</option>
<option value="MED135">pregabalin (277)</option>
<option value="MED136">oxybutynin (273)</option>
<option value="MED137">viscotears_liquid_eye_gel (272)</option>
<option value="MED138">budesonide (270)</option>
<option value="MED139">cerazette_75micrograms_tablet (269)</option>
<option value="MED140">elleste_duet_conti_tablet (266)</option>
<option value="MED141">pioglitazone (265)</option>
<option value="MED142">tegretol_100mg_tablet (262)</option>
<option value="MED143">alfuzosin (260)</option>
<option value="MED144">nifedipine (259)</option>
<option value="MED145">minerals_-_magnesium (254)</option>
<option value="MED146">sildenafil (252)</option>
<option value="MED147">salmeterol+fluticasone_propionate (250)</option>
<option value="MED148">azathioprine (250)</option>
<option value="MED149">spiriva_18micrograms_inhalation_capsule (248)</option>
<option value="MED150">evening_primrose_oil_product (247)</option>
<option value="MED151">domperidone (247)</option>
<option value="MED152">adalat_5mg_capsule (247)</option>
<option value="MED153">mometasone (245)</option>
<option value="MED154">diltiazem (244)</option>
<option value="MED155">latanoprost (238)</option>
<option value="MED156">calcichew_1.25g_chewable_tablet (238)</option>
<option value="MED157">ezetrol_10mg_tablet (236)</option>
<option value="MED158">montelukast_product (236)</option>
<option value="MED159">kliovance_1mg/0.5mg_tablet (232)</option>
<option value="MED160">terbinafine (232)</option>
<option value="MED161">premique_0.625mg/5mg_tablet (232)</option>
<option value="MED162">metoprolol (230)</option>
<option value="MED163">tildiem_60mg_m/r_tablet (229)</option>
<option value="MED164">rino_clenil_50micrograms_nasal_spray (228)</option>
<option value="MED165">temazepam (225)</option>
<option value="MED166">fybogel_orange_s/f_granules (224)</option>
<option value="MED167">tolterodine_l-tartrate (221)</option>
<option value="MED168">spironolactone (220)</option>
<option value="MED169">st_john's_wort/hypericum_[ctsu] (217)</option>
<option value="MED170">risedronate_sodium (217)</option>
<option value="MED171">pantoprazole (215)</option>
<option value="MED172">flixotide_25micrograms_inhaler (214)</option>
<option value="MED173">gtn_-_glyceryl_trinitrate (211)</option>
<option value="MED174">frusemide (211)</option>
<option value="MED175">hydrocortisone (210)</option>
<option value="MED176">estradiol_product (209)</option>
<option value="MED177">salbutamol_product (208)</option>
<option value="MED178">senna (208)</option>
<option value="MED179">dipyridamole (208)</option>
<option value="MED180">verapamil (206)</option>
<option value="MED181">sotalol (204)</option>
<option value="MED182">nexium_20mg_tablet (203)</option>
<option value="MED183">elleste-solo_1mg_tablet (203)</option>
<option value="MED184">pulmicort_ls_50micrograms_inhaler (201)</option>
<option value="MED185">tibolone (198)</option>
<option value="MED186">sulfasalazine (196)</option>
<option value="MED187">solifenacin (195)</option>
<option value="MED188">diprobase_cream (192)</option>
<option value="MED189">rosiglitazone (191)</option>
<option value="MED190">terbutaline (191)</option>
<option value="MED191">rabeprazole_sodium (189)</option>
<option value="MED192">calcium_carbonate+cholecalciferol_1.25g/200iu_tablet (189)</option>
<option value="MED193">escitalopram (188)</option>
<option value="MED194">betamethasone (187)</option>
<option value="MED195">evorel_25_patch (184)</option>
<option value="MED196">estraderm_mx_25_patch (183)</option>
<option value="MED197">piriton_4mg_tablet (183)</option>
<option value="MED198">flax_oil_tablet (182)</option>
<option value="MED199">flecainide (182)</option>
<option value="MED200">ipratropium (182)</option>
<option value="MED201">hypromellose (182)</option>
<option value="MED202">arthrotec_tablet (182)</option>
<option value="MED203">detrusitol_1mg_tablet (179)</option>
<option value="MED204">telmisartan (178)</option>
<option value="MED205">ginseng_product (178)</option>
<option value="MED206">epilim_100mg_crushable_tablet (178)</option>
<option value="MED207">carbamazepine (177)</option>
<option value="MED208">mirena_52mg_intrauterine_system (177)</option>
<option value="MED209">imigran_50mg_tablet (177)</option>
<option value="MED210">fybogel_mebeverine_sachet (176)</option>
<option value="MED211">mirena_20mcg/24hrs_intrauterine_system (174)</option>
<option value="MED212">dermovate_cream (174)</option>
<option value="MED213">fenofibrate (174)</option>
<option value="MED214">tadalafil (173)</option>
<option value="MED215">thiamine_preparation (173)</option>
<option value="MED216">arimidex_1mg_tablet (172)</option>
<option value="MED217">lacri-lube_eye_ointment (172)</option>
<option value="MED218">prochlorperazine (172)</option>
<option value="MED219">starflower_oil (171)</option>
<option value="MED220">mesalazine (171)</option>
<option value="MED221">prozac_20mg_capsule (169)</option>
<option value="MED222">simvador_10mg_tablet (168)</option>
<option value="MED223">prempak_0.625_tablet (168)</option>
<option value="MED224">femoston_1/10_tablet (167)</option>
<option value="MED225">hydroxychloroquine (167)</option>
<option value="MED226">desloratadine (164)</option>
<option value="MED227">co-tenidone (164)</option>
<option value="MED228">seroxat_20mg_tablet (164)</option>
<option value="MED229">pizotifen (160)</option>
<option value="MED230">asacol_400mg_e/c_tablet (157)</option>
<option value="MED231">atrovent_20micrograms_inhaler (156)</option>
<option value="MED232">livial_2.5mg_tablet (150)</option>
<option value="MED233">omacor_1g_capsule (148)</option>
<option value="MED234">selenium_ace_tablet (147)</option>
<option value="MED235">clonidine (146)</option>
<option value="MED236">tranexamic_acid (145)</option>
<option value="MED237">trazodone (144)</option>
<option value="MED238">microgynon_30_tablet (144)</option>
<option value="MED239">voltarol_25mg_e/c_tablet (141)</option>
<option value="MED240">colofac-100_tablet (139)</option>
<option value="MED241">micronor_tablet (139)</option>
<option value="MED242">dovobet_ointment (138)</option>
<option value="MED243">lamotrigine (138)</option>
<option value="MED244">climaval_1mg_tablet (138)</option>
<option value="MED245">cardicor_1.25mg_tablet (136)</option>
<option value="MED246">dicloflex_25mg_e/c_tablet (136)</option>
<option value="MED247">metoclopramide (135)</option>
<option value="MED248">olanzapine (134)</option>
<option value="MED249">baclofen (131)</option>
<option value="MED250">nitrolingual_400micrograms_spray (131)</option>
<option value="MED251">migraleve_tablet (129)</option>
<option value="MED252">orlistat (128)</option>
<option value="MED253">neoclarityn_5mg_tablet (127)</option>
<option value="MED254">saw_palmetto_product (125)</option>
<option value="MED255">fosamax_5mg_tablet (125)</option>
<option value="MED256">vitamin_b6_preparation (125)</option>
<option value="MED257">eumovate_cream (125)</option>
<option value="MED258">cozaar_25mg_tablet (124)</option>
<option value="MED259">evorel_conti_patch (124)</option>
<option value="MED260">cipralex_5mg_tablet (123)</option>
<option value="MED261">amias_2mg_tablet (122)</option>
<option value="MED262">aloe_vera_product (121)</option>
<option value="MED263">olmesartan (121)</option>
<option value="MED264">phenytoin (120)</option>
<option value="MED265">vesicare_5mg_tablet (120)</option>
<option value="MED266">glucophage_500mg_tablet (118)</option>
<option value="MED267">hydroxocobalamin (117)</option>
<option value="MED268">glimepiride (117)</option>
<option value="MED269">doxycycline (117)</option>
<option value="MED270">ispaghula_husk (117)</option>
<option value="MED271">sodium_valproate (116)</option>
<option value="MED272">buscopan_10mg_tablet (116)</option>
<option value="MED273">adizem-60_m/r_tablet (115)</option>
<option value="MED274">ibandronic_acid (114)</option>
<option value="MED275">anastrozole (114)</option>
<option value="MED276">amiodarone (114)</option>
<option value="MED277">trimethoprim (114)</option>
<option value="MED278">lacidipine (114)</option>
<option value="MED279">celecoxib (113)</option>
<option value="MED280">peptac_liquid (112)</option>
<option value="MED281">cosopt_2%/0.5%_eye_drops (111)</option>
<option value="MED282">bezafibrate (110)</option>
<option value="MED283">solpadol_caplet (109)</option>
<option value="MED284">co-amilofruse (108)</option>
<option value="MED285">arthrotec_50_tablet (107)</option>
<option value="MED286">clarityn_10mg_tablet (107)</option>
<option value="MED287">colpermin_0.2ml_m/r_gel_e/c_capsule (106)</option>
<option value="MED288">bumetanide (105)</option>
<option value="MED289">diovan_40mg_capsule (104)</option>
<option value="MED290">glyceryl_trinitrate_product (103)</option>
<option value="MED291">lumigan_0.3mg/ml_eye_drops (102)</option>
<option value="MED292">timolol_0.25%_eye_drops (102)</option>
<option value="MED293">syndol_tablet (101)</option>
<option value="MED294">etoricoxib (100)</option>

	            </select>



      <p align='center' style="margin-left:19.5em; margin-right:19.5em; padding: 1em 1em 1em 1em;">
       <input type="submit" value="Run MRP" name="submit_button">
      </p>
      <hr>
      <p>For more information on the statisical methods behind MRP, see Rivas et al. "Bayesian models for high-dimensional rare variant association studies" In progess.</p>

    </form>


    </div>
</div>

{% endblock %}
