{% extends "layout.html" %}
{% block body %}
    <head>
<style>
.dropdown-submenu {
 position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0; 
    left: 100%; 
    margin-top: -1px;
}

.dropbtn1 {
    background-color: #B3995D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropbtn1:hover, .dropbtn:focus {
    background-color: #B6B1A9;
}




.button {
    background-color: #428bca; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: #DAD7CB;
    color: white;
    text-decoration: none;
}




#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 330px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


</style>
</head>

    <script>
        $('#navbar_form_container').hide();
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68395741-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}




function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}

function filterFunction2() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown2");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}



function myFunction3() {
    document.getElementById("myDropdown3").classList.toggle("show");
}

function filterFunction3() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput3");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown3");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}




function myFunction4() {
    document.getElementById("myDropdown4").classList.toggle("show");
}

function filterFunction4() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput4");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown4");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}



function myFunction5() {
    document.getElementById("myDropdown5").classList.toggle("show");
}

function filterFunction5() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput5");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown5");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}




function myFunction6() {
    document.getElementById("myDropdown6").classList.toggle("show");
}

function filterFunction6() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput6");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown6");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}




function myFunction7() {
    document.getElementById("myDropdown7").classList.toggle("show");
}

function filterFunction7() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput7");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown7");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>




    <div class="container">
        <h1 id="home-title">Global Biobank Engine (pre-alpha) <a href="/about" style="color: black;"></a></li></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region or phenotype coding (coming soon)"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - Gene: <a href="/awesome?query=F5">F5</a></li>,
                        Transcript: <a href="/transcript/ENST00000367797">ENST00000367797</a></li>,
                        Variant: <a href="/variant/1-169519049">1-169519049</a></li>,
                      RS ID: <a href="/awesome?query=rs6025">rs6025</a></li>
                            </p>
                </div>
            </div>
        </div>



<br>


                <div class="row" style="font-size: 16px;">
	  <div class="col-md-8">
<h3 align="center">Genetic Association Results</h3>
        <p><b>Note: </b>We present summary statistic results from the UK Biobank hospital in-patient health-related outcomes summary information data (<a href="biobank.ctsu.ox.ac.uk/showcase/field.cgi?id=41202">Data-Field 41202</a>); computational grouping of phenotypes with cancer (<a href="http://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=100092">Category 100092</a>) registry, death registry data (<a href="http://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=100093">Category 100093</a>), algorithmically-defined outcomes (<a href="http://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=42">Category 42</a>), and verbal questionnaire data (<a href="http://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=100071">Category 100071</a>); and manually curated grouping of phenotypes.</p>
   <p>

<h3 align="left">Browseable phenotypes</h3>
<div class="btn-group-vertical" role="group" align="left">

<div class="btn-group" role="group">
<div class="dropdown" align="center">
<button onclick="myFunction()" class="button">Cancer</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
<a class="dropdown-item" href="coding/cancer1022">colon cancer/sigmoid cancer (8117)</a>
<a class="dropdown-item" href="coding/cancer1039">ovarian cancer (7102)</a>
<a class="dropdown-item" href="coding/cancer1080">trachea cancer (4778)</a>
<a class="dropdown-item" href="coding/cancer1023">rectal cancer (2895)</a>
<a class="dropdown-item" href="coding/cancer1077">mouth cancer (2295)</a>
<a class="dropdown-item" href="coding/cancer1004">cancer of lip/mouth/pharynx/oral cavity (1946)</a>
<a class="dropdown-item" href="coding/cancer1040">uterine/endometrial cancer (1749)</a>
<a class="dropdown-item" href="coding/cancer1079">oropharynx / oropharyngeal cancer (1535)</a>
<a class="dropdown-item" href="coding/cancer1003">skin cancer (1427)</a>
<a class="dropdown-item" href="coding/cancer1026">pancreas cancer (1337)</a>
<a class="dropdown-item" href="coding/cancer1011">tongue cancer (1292)</a>
<a class="dropdown-item" href="coding/cancer1085">bone metastases/bony secondaries (1087)</a>
<a class="dropdown-item" href="coding/cancer1060">non-melanoma skin cancer (928)</a>
<a class="dropdown-item" href="coding/cancer1033">spinal cord or cranial nerve cancer (904)</a>
<a class="dropdown-item" href="coding/cancer1025">gallbladder/bile duct cancer (849)</a>
<a class="dropdown-item" href="coding/cancer1066">parathyroid cancer (818)</a>
<a class="dropdown-item" href="coding/cancer1034">kidney/renal cell cancer (710)</a>
<a class="dropdown-item" href="coding/cancer1012">gum cancer (658)</a>
<a class="dropdown-item" href="coding/cancer1087">fallopian tube cancer (526)</a>
<a class="dropdown-item" href="coding/cancer1065">thyroid cancer (493)</a>
<a class="dropdown-item" href="coding/cancer1035">bladder cancer (378)</a>
<a class="dropdown-item" href="coding/cancer1005">salivary gland cancer (312)</a>
<a class="dropdown-item" href="coding/cancer1088">malignant insulinoma (310)</a>
<a class="dropdown-item" href="coding/cancer1008">ear cancer (308)</a>
<a class="dropdown-item" href="coding/cancer1001">lung cancer (284)</a>
<a class="dropdown-item" href="coding/cancer1042">vaginal cancer (277)</a>
<a class="dropdown-item" href="coding/cancer1076">kaposis sarcoma (265)</a>
<a class="dropdown-item" href="coding/cancer1017">oesophageal cancer (252)</a>
<a class="dropdown-item" href="coding/cancer1032">brain cancer/primary malignant brain tumour (241)</a>
<a class="dropdown-item" href="coding/cancer1053">non-hodgkins lymphoma (220)</a>
<a class="dropdown-item" href="coding/cancer1030">eye and/or adnexal cancer (208)</a>
</div>
</div>
</div>

<div class="btn-group" role="group">
<div class="dropdown" align="center">
<button onclick="myFunction2()" class="button dropdown-toggle" data-toggle="dropdown">Common diseases</button>
  <div id="myDropdown2" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput2" onkeyup="filterFunction2()">
<a class="dropdown-item" href="coding/RH141">osteoarthritis (14793)</a>
<a class="dropdown-item" href="coding/RH160">asthma (10608)</a>
<a class="dropdown-item" href="coding/RH134">diabetes mellitus type 2 (7825)</a>
<a class="dropdown-item" href="coding/RH107">acquired hypothyroidism (5271)</a>
<a class="dropdown-item" href="coding/RH32">depression (4703)</a>
<a class="dropdown-item" href="coding/RH9">hyperplasia of the prostate (4326)</a>
<a class="dropdown-item" href="coding/RH24">cataract (3205)</a>
<a class="dropdown-item" href="coding/RH48">skin cyst (3078)</a>
<a class="dropdown-item" href="coding/RH45">prostate cancer (2827)</a>
<a class="dropdown-item" href="coding/RH3">acute myocardial infarction (2073)</a>
<a class="dropdown-item" href="coding/RH95">colorectal cancer (1863)</a>
<a class="dropdown-item" href="coding/RH91">anxiety (1822)</a>
<a class="dropdown-item" href="coding/RH56">deep vein thrombosis (1621)</a>
<a class="dropdown-item" href="coding/RH81">pulmonary embolism and infarction (1440)</a>
<a class="dropdown-item" href="coding/RH86">epilepsy (1410)</a>
<a class="dropdown-item" href="coding/RH110">cerebral infarction (1267)</a>
<a class="dropdown-item" href="coding/RH36">eczema (1238)</a>
<a class="dropdown-item" href="coding/RH140">melanoma (1150)</a>
<a class="dropdown-item" href="coding/RH130">diabetes mellitus type 1 (1127)</a>
<a class="dropdown-item" href="coding/RH145">lung cancer (1045)</a>
<a class="dropdown-item" href="coding/RH129">migraine (1032)</a>
<a class="dropdown-item" href="coding/RH74">rheumatoid arthritis (1012)</a>
<a class="dropdown-item" href="coding/RH119">glaucoma (961)</a>
<a class="dropdown-item" href="coding/RH108">emphysema (852)</a>
<a class="dropdown-item" href="coding/RH146">bladder cancer (841)</a>
<a class="dropdown-item" href="coding/RH89">psoriasis (814)</a>
<a class="dropdown-item" href="coding/RH128">crohns disease (676)</a>
<a class="dropdown-item" href="coding/RH7">gout (670)</a>
<a class="dropdown-item" href="coding/RH150">celiac disease (657)</a>
<a class="dropdown-item" href="coding/RH67">unspecified viral infection (common cold) (646)</a>
<a class="dropdown-item" href="coding/RH122">uterine cancer (546)</a>
<a class="dropdown-item" href="coding/RH65">bipolar disorder (404)</a>
<a class="dropdown-item" href="coding/RH159">parkinsonism (396)</a>
<a class="dropdown-item" href="coding/RH157">bronchitis (389)</a>
<a class="dropdown-item" href="coding/RH50">lymphosarcoma/reticulorsarcoma (273)</a>
<a class="dropdown-item" href="coding/RH99">gastric cancer (251)</a>
<a class="dropdown-item" href="coding/RH94">schizophrenia (238)</a>
<a class="dropdown-item" href="coding/RH77">sarcoidosis (224)</a>
<a class="dropdown-item" href="coding/RH60">liche (222)</a>
<a class="dropdown-item" href="coding/RH126">phobia (209)</a>
</div>
</div>
</div>

<div class="btn-group" role="group">
<div class="dropdown" align="center">
<button onclick="myFunction3()" class="button dropdown-toggle" data-toggle="dropdown">Family History</button>
  <div id="myDropdown3" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput3" onkeyup="filterFunction3()">
<a class="dropdown-item" href="coding/FH1065">high blood pressure (91063)</a>
<a class="dropdown-item" href="coding/FH1001">lung cancer (55698)</a>
<a class="dropdown-item" href="coding/FH1220">diabetes (38169)</a>
<a class="dropdown-item" href="coding/FH1113">chronic bronchitis/emphysema (36413)</a>
<a class="dropdown-item" href="coding/FH1019">bowel cancer (33362)</a>
<a class="dropdown-item" href="coding/FH1002">breast cancer (27618)</a>
<a class="dropdown-item" href="coding/FH1286">severe depression (24788)</a>
<a class="dropdown-item" href="coding/FH1263">Alzheimer's disease/dementia (22909)</a>
<a class="dropdown-item" href="coding/FH1044">prostate cancer (15241)</a>
<a class="dropdown-item" href="coding/FH1262">Parkinson's disease (9688)</a>
</div>
</div>
</div>


<div class="btn-group" role="group">
<div class="dropdown" align="center">
<button onclick="myFunction6()" class="button">Verbal and ICD disease grouping</button>
  <div id="myDropdown6" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput6" onkeyup="filterFunction6()">
<a class="dropdown-item" href="coding/HC322">hypertension (49827)</a>
<a class="dropdown-item" href="coding/HC111">essential hypertension (30491)</a>
<a class="dropdown-item" href="coding/HC153">asthma (21217)</a>
<a class="dropdown-item" href="coding/HC37">high cholesterol (20478)</a>
<a class="dropdown-item" href="coding/HC154">osteoarthritis (13560)</a>
<a class="dropdown-item" href="coding/HC352">eye infection (11871)</a>
<a class="dropdown-item" href="coding/HC430">depression (9493)</a>
<a class="dropdown-item" href="coding/HC340">angina (9103)</a>
<a class="dropdown-item" href="coding/HC39">hayfever/allergic rhinitis (9064)</a>
<a class="dropdown-item" href="coding/HC383">cataract (8977)</a>
<a class="dropdown-item" href="coding/HC46">hypothyroidism/myxoedema (7539)</a>
<a class="dropdown-item" href="coding/HC228">diabetes (7437)</a>
<a class="dropdown-item" href="coding/HC410">anaemia (7173)</a>
<a class="dropdown-item" href="coding/HC172">arthritis (nos) (7036)</a>
<a class="dropdown-item" href="coding/HC216">gastro-oesophageal reflux (gord) / gastric reflux (6997)</a>
<a class="dropdown-item" href="coding/HC199">inguinal hernia (6134)</a>
<a class="dropdown-item" href="coding/HC367">cholecystitis (6022)</a>
<a class="dropdown-item" href="coding/HC417">pneumonia (5821)</a>
<a class="dropdown-item" href="coding/HC268">atrial fibrillation (5689)</a>
<a class="dropdown-item" href="coding/HC158">urinary tract infection/kidney infection (5541)</a>
<a class="dropdown-item" href="coding/HC292">atrial flutter (5474)</a>
<a class="dropdown-item" href="coding/HC90">migraine (5264)</a>
<a class="dropdown-item" href="coding/HC306">irritable bowel syndrome (5113)</a>
<a class="dropdown-item" href="coding/HC205">heart attack/myocardial infarction (4907)</a>
<a class="dropdown-item" href="coding/HC69">dyspepsia / indigestion (4701)</a>
<a class="dropdown-item" href="coding/HC212">chronic obstructive airways disease/copd (4513)</a>
<a class="dropdown-item" href="coding/HC435">oesophagitis/barretts oesophagus (4495)</a>
<a class="dropdown-item" href="coding/HC253">eczema/dermatitis (4346)</a>
<a class="dropdown-item" href="coding/HC376">varicose veins (4311)</a>
<a class="dropdown-item" href="coding/HC281">respiratory infection (4267)</a>
<a class="dropdown-item" href="coding/HC412">back pain (4259)</a>
<a class="dropdown-item" href="coding/HC128">iron deficiency anaemia (4228)</a>
<a class="dropdown-item" href="coding/HC179">osteoporosis (4188)</a>
<a class="dropdown-item" href="coding/HC220">constipation (4165)</a>
<a class="dropdown-item" href="coding/HC132">carpal tunnel syndrome (3851)</a>
<a class="dropdown-item" href="coding/HC184">varicose ulcer (3799)</a>
<a class="dropdown-item" href="coding/HC185">joint pain (3642)</a>
<a class="dropdown-item" href="coding/HC402">hiatus hernia (3552)</a>
<a class="dropdown-item" href="coding/HC320">deep venous thrombosis (dvt) (3030)</a>
<a class="dropdown-item" href="coding/HC112">cellulitis (2951)</a>
<a class="dropdown-item" href="coding/HC246">gout (2941)</a>
<a class="dropdown-item" href="coding/HC221">rectal prolapse (2938)</a>
<a class="dropdown-item" href="coding/HC371">stress (2881)</a>
<a class="dropdown-item" href="coding/HC75">stroke (2784)</a>
<a class="dropdown-item" href="coding/HC150">back problem (2748)</a>
<a class="dropdown-item" href="coding/HC399">glaucoma (2682)</a>
<a class="dropdown-item" href="coding/HC440">emphysema/chronic bronchitis (2649)</a>
<a class="dropdown-item" href="coding/HC57">prolapsed disc/slipped disc (2639)</a>
<a class="dropdown-item" href="coding/HC166">rheumatoid arthritis (2629)</a>
<a class="dropdown-item" href="coding/HC83">cholelithiasis/gall stones (2625)</a>
<a class="dropdown-item" href="coding/HC370">appendicitis (2527)</a>
<a class="dropdown-item" href="coding/HC0">enlarged prostate (2471)</a>
<a class="dropdown-item" href="coding/HC5">bronchitis (2412)</a>
<a class="dropdown-item" href="coding/HC156">sciatica (2407)</a>
<a class="dropdown-item" href="coding/HC227">uterine fibroids (2385)</a>
<a class="dropdown-item" href="coding/HC122">endometriosis (2361)</a>
<a class="dropdown-item" href="coding/HC58">disc degeneration (2349)</a>
<a class="dropdown-item" href="coding/HC296">psoriasis (2282)</a>
<a class="dropdown-item" href="coding/HC59">pulmonary embolism +/- dvt (2248)</a>
<a class="dropdown-item" href="coding/HC282">anxiety/panic attacks (2208)</a>
<a class="dropdown-item" href="coding/HC25">chronic sinusitis (2172)</a>
<a class="dropdown-item" href="coding/HC404">subdural haemorrhage/haematoma (2066)</a>
<a class="dropdown-item" href="coding/HC390">pleural effusion (2061)</a>
<a class="dropdown-item" href="coding/HC198">sleep apnoea (2051)</a>
<a class="dropdown-item" href="coding/HC50">fracture radius (1998)</a>
<a class="dropdown-item" href="coding/HC425">cervical spondylosis (1992)</a>
<a class="dropdown-item" href="coding/HC387">epilepsy (1929)</a>
<a class="dropdown-item" href="coding/HC191">kidney stone/ureter stone/bladder stone (1922)</a>
<a class="dropdown-item" href="coding/HC344">head injury (1844)</a>
<a class="dropdown-item" href="coding/HC244">diverticular disease/diverticulitis (1790)</a>
<a class="dropdown-item" href="coding/HC218">fibrosing alveolitis/unspecified alveolitis (1625)</a>
<a class="dropdown-item" href="coding/HC63">gastric/stomach ulcers (1622)</a>
<a class="dropdown-item" href="coding/HC406">bladder problem (not cancer) (1602)</a>
<a class="dropdown-item" href="coding/HC19">umbilical hernia (1601)</a>
<a class="dropdown-item" href="coding/HC360">spinal stenosis (1450)</a>
<a class="dropdown-item" href="coding/HC192">allergy or anaphylactic reaction to drug (1443)</a>
<a class="dropdown-item" href="coding/HC103">whooping cough / pertussis (1430)</a>
<a class="dropdown-item" href="coding/HC16">spine arthritis/spondylitis (1409)</a>
<a class="dropdown-item" href="coding/HC226">peripheral vascular disease (1403)</a>
<a class="dropdown-item" href="coding/HC363">headaches (not migraine) (1382)</a>
<a class="dropdown-item" href="coding/HC415">ear/vestibular disorder (1375)</a>
<a class="dropdown-item" href="coding/HC299">ulcerative colitis (1370)</a>
<a class="dropdown-item" href="coding/HC359">transient ischaemic attack (tia) (1309)</a>
<a class="dropdown-item" href="coding/HC283">muscle/soft tissue problem (1303)</a>
<a class="dropdown-item" href="coding/HC273">ovarian cyst or cysts (1299)</a>
<a class="dropdown-item" href="coding/HC200">muscle or soft tissue injuries (1254)</a>
<a class="dropdown-item" href="coding/HC271">type 2 diabetes (1248)</a>
<a class="dropdown-item" href="coding/HC377">hyperthyroidism/thyrotoxicosis (1236)</a>
<a class="dropdown-item" href="coding/HC414">svt / supraventricular tachycardia (1216)</a>
<a class="dropdown-item" href="coding/HC343">retinal detachment (1215)</a>
<a class="dropdown-item" href="coding/HC233">bowel / intestinal obstruction (1204)</a>
<a class="dropdown-item" href="coding/HC11">fracture shaft of femur (1191)</a>
<a class="dropdown-item" href="coding/HC53">other joint disorder (1187)</a>
<a class="dropdown-item" href="coding/HC182">cystitis (1171)</a>
<a class="dropdown-item" href="coding/HC89">eye/eyelid problem (1170)</a>
<a class="dropdown-item" href="coding/HC139">nasal polyps (1161)</a>
<a class="dropdown-item" href="coding/HC43">peritonitis (1150)</a>
<a class="dropdown-item" href="coding/HC181">heart valve problem/heart murmur (1131)</a>
<a class="dropdown-item" href="coding/HC242">allergy/hypersensitivity/anaphylaxis (1106)</a>
<a class="dropdown-item" href="coding/HC86">acromegaly (1102)</a>
<a class="dropdown-item" href="coding/HC12">tonsiltis (1101)</a>
<a class="dropdown-item" href="coding/HC105">chickenpox (1069)</a>
<a class="dropdown-item" href="coding/HC313">benign breast lump (1058)</a>
<a class="dropdown-item" href="coding/HC248">pancreatitis (1019)</a>
<a class="dropdown-item" href="coding/HC188">respiratory failure (995)</a>
<a class="dropdown-item" href="coding/HC194">bronchiectasis (958)</a>
<a class="dropdown-item" href="coding/HC85">inflammatory bowel disease (954)</a>
<a class="dropdown-item" href="coding/HC161">emphysema (951)</a>
<a class="dropdown-item" href="coding/HC267">measles / morbillivirus (931)</a>
<a class="dropdown-item" href="coding/HC148">bursitis (918)</a>
<a class="dropdown-item" href="coding/HC84">synovitis (914)</a>
<a class="dropdown-item" href="coding/HC119">malabsorption/coeliac disease (905)</a>
<a class="dropdown-item" href="coding/HC434">heart arrhythmia (886)</a>
<a class="dropdown-item" href="coding/HC356">tuberculosis (tb) (878)</a>
<a class="dropdown-item" href="coding/HC433">sarcoidosis (866)</a>
<a class="dropdown-item" href="coding/HC110">vaginal prolapse/uterine prolapse (859)</a>
<a class="dropdown-item" href="coding/HC87">anal fissure (851)</a>
<a class="dropdown-item" href="coding/HC102">joint disorder (843)</a>
<a class="dropdown-item" href="coding/HC23">fracture tibia (829)</a>
<a class="dropdown-item" href="coding/HC237">fracture lower leg / ankle (802)</a>
<a class="dropdown-item" href="coding/HC437">urinary frequency / incontinence (800)</a>
<a class="dropdown-item" href="coding/HC324">fracture upper arm / humerus / elbow (798)</a>
<a class="dropdown-item" href="coding/HC277">helicobacter pylori (792)</a>
<a class="dropdown-item" href="coding/HC82">crohns disease (789)</a>
<a class="dropdown-item" href="coding/HC381">allergy or anaphylactic reaction to food (775)</a>
<a class="dropdown-item" href="coding/HC429">gall bladder disease (765)</a>
<a class="dropdown-item" href="coding/HC380">pleurisy (765)</a>
<a class="dropdown-item" href="coding/HC403">meningitis (737)</a>
<a class="dropdown-item" href="coding/HC13">other renal/kidney problem (737)</a>
<a class="dropdown-item" href="coding/HC438">aortic stenosis (735)</a>
<a class="dropdown-item" href="coding/HC99">stomach disorder (732)</a>
<a class="dropdown-item" href="coding/HC78">other neurological problem (687)</a>
<a class="dropdown-item" href="coding/HC68">duodenal ulcer (669)</a>
<a class="dropdown-item" href="coding/HC314">fracture finger (668)</a>
<a class="dropdown-item" href="coding/HC201">fracture ulna (667)</a>
<a class="dropdown-item" href="coding/HC255">multiple sclerosis (665)</a>
<a class="dropdown-item" href="coding/HC333">chronic fatigue syndrome (661)</a>
<a class="dropdown-item" href="coding/HC61">bone disorder (657)</a>
<a class="dropdown-item" href="coding/HC379">fracture neck of femur / hip (656)</a>
<a class="dropdown-item" href="coding/HC407">rectal or colon adenoma/polyps (651)</a>
<a class="dropdown-item" href="coding/HC418">breast cysts (622)</a>
<a class="dropdown-item" href="coding/HC276">polymyalgia rheumatica (617)</a>
<a class="dropdown-item" href="coding/HC80">cardiomyopathy (609)</a>
<a class="dropdown-item" href="coding/HC366">aortic aneurysm (603)</a>
<a class="dropdown-item" href="coding/HC177">other demyelinating disease (not multiple sclerosis) (600)</a>
<a class="dropdown-item" href="coding/HC229">gestational hypertension/pre-eclampsia (596)</a>
<a class="dropdown-item" href="coding/HC355">tinnitus / tiniitis (593)</a>
<a class="dropdown-item" href="coding/HC408">nasal/sinus disorder (591)</a>
<a class="dropdown-item" href="coding/HC378">aortic aneurysm rupture (589)</a>
<a class="dropdown-item" href="coding/HC357">hepatitis (587)</a>
<a class="dropdown-item" href="coding/HC245">ankylosing spondylitis (574)</a>
<a class="dropdown-item" href="coding/HC300">female infertility (569)</a>
<a class="dropdown-item" href="coding/HC431">fibromyalgia (550)</a>
<a class="dropdown-item" href="coding/HC385">mumps / epidemic parotitis (544)</a>
<a class="dropdown-item" href="coding/HC36">haemorrhoids / piles (539)</a>
<a class="dropdown-item" href="coding/HC155">fracture forearm / wrist (534)</a>
<a class="dropdown-item" href="coding/HC330">nephritis (531)</a>
<a class="dropdown-item" href="coding/HC361">heart/cardiac problem (530)</a>
<a class="dropdown-item" href="coding/HC70">scoliosis (518)</a>
<a class="dropdown-item" href="coding/HC393">hepatitis a (516)</a>
<a class="dropdown-item" href="coding/HC252">subarachnoid haemorrhage (514)</a>
<a class="dropdown-item" href="coding/HC436">meniere's disease (511)</a>
<a class="dropdown-item" href="coding/HC18">trapped nerve/compressed nerve (507)</a>
<a class="dropdown-item" href="coding/HC391">prostate problem (not cancer) (490)</a>
<a class="dropdown-item" href="coding/HC168">spinal abscess (488)</a>
<a class="dropdown-item" href="coding/HC308">pernicious anaemia (484)</a>
<a class="dropdown-item" href="coding/HC422">anorexia/bulimia/other eating disorder (482)</a>
<a class="dropdown-item" href="coding/HC326">colitis/not crohns or ulcerative colitis (474)</a>
<a class="dropdown-item" href="coding/HC217">hepatitis b (474)</a>
<a class="dropdown-item" href="coding/HC34">mania/bipolar disorder/manic depression (472)</a>
<a class="dropdown-item" href="coding/HC180">fracture wrist / colles fracture (472)</a>
<a class="dropdown-item" href="coding/HC115">menorrhagia (unknown cause) (470)</a>
<a class="dropdown-item" href="coding/HC4">male infertility (467)</a>
<a class="dropdown-item" href="coding/HC257">hepatitis c (465)</a>
<a class="dropdown-item" href="coding/HC160">pneumothorax (465)</a>
<a class="dropdown-item" href="coding/HC113">parkinsons disease (461)</a>
<a class="dropdown-item" href="coding/HC6">osteopenia (456)</a>
<a class="dropdown-item" href="coding/HC364">hepatitis e (452)</a>
<a class="dropdown-item" href="coding/HC311">uterine polyps (450)</a>
<a class="dropdown-item" href="coding/HC176">hepatitis d (449)</a>
<a class="dropdown-item" href="coding/HC183">rheumatic fever (447)</a>
<a class="dropdown-item" href="coding/HC315">osteomyelitis (445)</a>
<a class="dropdown-item" href="coding/HC170">prostatitis (438)</a>
<a class="dropdown-item" href="coding/HC266">psoriatic arthropathy (431)</a>
<a class="dropdown-item" href="coding/HC238">bile duct obstruction/ascending cholangitis (425)</a>
<a class="dropdown-item" href="coding/HC159">chronic laryngitis (411)</a>
<a class="dropdown-item" href="coding/HC372">fracture rib (410)</a>
<a class="dropdown-item" href="coding/HC256">miscarriage (410)</a>
<a class="dropdown-item" href="coding/HC384">diabetic eye disease (406)</a>
<a class="dropdown-item" href="coding/HC222">thyroid problem (not cancer) (398)</a>
<a class="dropdown-item" href="coding/HC134">ureteric obstruction/hydronephrosis (393)</a>
<a class="dropdown-item" href="coding/HC312">labyrinthitis (388)</a>
<a class="dropdown-item" href="coding/HC54">pulmonary fibrosis (377)</a>
<a class="dropdown-item" href="coding/HC317">fracture fibula (373)</a>
<a class="dropdown-item" href="coding/HC196">alcoholic liver disease / alcoholic cirrhosis (370)</a>
<a class="dropdown-item" href="coding/HC243">rosacea (361)</a>
<a class="dropdown-item" href="coding/HC210">bph / benign prostatic hypertrophy (353)</a>
<a class="dropdown-item" href="coding/HC32">blistering/desquamating skin disorder (346)</a>
<a class="dropdown-item" href="coding/HC286">fracture skull / head (344)</a>
<a class="dropdown-item" href="coding/HC129">schizophrenia (343)</a>
<a class="dropdown-item" href="coding/HC127">tennis elbow / lateral epicondylitis (331)</a>
<a class="dropdown-item" href="coding/HC72">spontaneous pneumothorax/recurrent pneumothorax (330)</a>
<a class="dropdown-item" href="coding/HC169">vertigo (324)</a>
<a class="dropdown-item" href="coding/HC341">other respiratory problems (323)</a>
<a class="dropdown-item" href="coding/HC329">irregular heart beat (318)</a>
<a class="dropdown-item" href="coding/HC136">infective/viral hepatitis (313)</a>
<a class="dropdown-item" href="coding/HC345">fracture hand (312)</a>
<a class="dropdown-item" href="coding/HC209">epicondylitis (301)</a>
<a class="dropdown-item" href="coding/HC44">liver/biliary/pancreas problem (299)</a>
<a class="dropdown-item" href="coding/HC382">hyperparathyroidism (297)</a>
<a class="dropdown-item" href="coding/HC186">rubella / german measles (292)</a>
<a class="dropdown-item" href="coding/HC413">dry eyes (288)</a>
<a class="dropdown-item" href="coding/HC398">lichen planus (279)</a>
<a class="dropdown-item" href="coding/HC236">gastritis/gastric erosions (277)</a>
<a class="dropdown-item" href="coding/HC400">fracture clavicle / collar bone (276)</a>
<a class="dropdown-item" href="coding/HC354">abdominal hernia (272)</a>
<a class="dropdown-item" href="coding/HC197">alcohol dependency (271)</a>
<a class="dropdown-item" href="coding/HC189">pericardial effusion (271)</a>
<a class="dropdown-item" href="coding/HC374">peripheral neuropathy (262)</a>
<a class="dropdown-item" href="coding/HC332">urticaria (261)</a>
<a class="dropdown-item" href="coding/HC298">spinal injury (260)</a>
<a class="dropdown-item" href="coding/HC208">gynaecological disorder (not cancer) (258)</a>
<a class="dropdown-item" href="coding/HC349">femoral hernia (256)</a>
<a class="dropdown-item" href="coding/HC319">polycystic ovaries/polycystic ovarian syndrome (253)</a>
<a class="dropdown-item" href="coding/HC130">systemic lupus erythematosis/sle (252)</a>
<a class="dropdown-item" href="coding/HC316">fracture foot (251)</a>
<a class="dropdown-item" href="coding/HC152">sjogren's syndrome/sicca syndrome (249)</a>
<a class="dropdown-item" href="coding/HC239">retinal problem (248)</a>
<a class="dropdown-item" href="coding/HC323">fracture nose (244)</a>
<a class="dropdown-item" href="coding/HC28">abnormal smear (cervix) (243)</a>
<a class="dropdown-item" href="coding/HC133">blepharitis / eyelid infection (243)</a>
<a class="dropdown-item" href="coding/HC106">polycythaemia vera (243)</a>
<a class="dropdown-item" href="coding/HC269">nervous breakdown (239)</a>
<a class="dropdown-item" href="coding/HC38">fracture patella / knee (237)</a>
<a class="dropdown-item" href="coding/HC288">other abdominal problem (236)</a>
<a class="dropdown-item" href="coding/HC157">burns (236)</a>
<a class="dropdown-item" href="coding/HC339">cerebral aneurysm (231)</a>
<a class="dropdown-item" href="coding/HC388">diabetic nephropathy (230)</a>
<a class="dropdown-item" href="coding/HC2">testicular problems (not cancer) (228)</a>
<a class="dropdown-item" href="coding/HC294">fracture shoulder / scapula (227)</a>
<a class="dropdown-item" href="coding/HC175">scarlet fever / scarlatina (227)</a>
<a class="dropdown-item" href="coding/HC302">infectious mononucleosis / glandular fever / epstein barr virus (ebv) (226)</a>
<a class="dropdown-item" href="coding/HC207">lymphoedema (225)</a>
<a class="dropdown-item" href="coding/HC74">fracture toe (224)</a>
<a class="dropdown-item" href="coding/HC55">malaria (224)</a>
<a class="dropdown-item" href="coding/HC144">eye trauma (221)</a>
<a class="dropdown-item" href="coding/HC309">fracture metatarsal (217)</a>
<a class="dropdown-item" href="coding/HC249">mitral valve prolapse (213)</a>
<a class="dropdown-item" href="coding/HC278">throat or larynx disorder (210)</a>
<a class="dropdown-item" href="coding/HC420">polycystic kidney (207)</a>
<a class="dropdown-item" href="coding/HC335">trigemminal neuralgia (200)</a>
</div>

 <h3 align="center"> <a href="/about" style="color: black;">Terms of use</a></h3>
                    
<p>

  We encourage use of the initial browser but note that case-control results are provided as general guides and specific results may not have yet been subjected to the data quality, statistical and population genetics review that would normally be required for publication or clinical inference.
</p>


  </div>

              <div class="col-md-4">
                <h3 align="center">Recent News</h3>
		<h4>June 7, 2017</h4> - Public release of Global Biobank Engine!
                <h4>April 1, 2017</h4> - Internal release.
            </div>


</div>

<br>

<footer>
    <small>This research has been conducted using the UK Biobank Resource</small>
</footer>

</div>



{% endblock %}
</div>
