{% extends "layout.html" %}
{% block body %}
    <!-- Render context vars in JS here -->
    <script type="text/javascript">
        window.icd = {{ icd|tojson|safe }};
    </script>


    <script>
        filtered_variants = _.filter(window.icd, function(d) {
            return d.filter == 'PASS';
        });
        $('#number_of_variants').replaceWith(filtered_variants.length);
        lof_filtered_variants = _.filter(window.icd, function(d) {
            return d.filter == 'PASS' && d.category == 'lof_variant';
        });$('#number_of_lof_variants').replaceWith(lof_filtered_variants.length);
    </script>

    <style>
                        h3{background-color:#826aa5;color:#fff;padding:3px;}
                        h3 span{float:right;font-size:28px;font-weight:normal;padding:1px;}
                        h3 span a{color:#fff;text-decoration:none;}

                </style>



    <div class="container">
        <div class="row">


            <h1><span class="hidden-xs">Targeted</span></h1>

<h5><span class="label label-info">Note:</span> Only phenotypes with more than 3000 cases are included</h5>
        <hr/>

            {% if icd %}
                {% set chrom = icd[0].chrom %}
                {% include 'variant_table_icd_target.html' %}
            {% else %}
                No significantly associated variants.
            {% endif %}
        </div>
    </div>

{% endblock %}
