{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>Terms and Data Information</h1>
        <div class="row" style="font-size: 16px;">
            <h4>Terms of use</h4>
 	    <p>To cite the browser, please use: Global Biobank Engine, Stanford, CA (URL: <a href="http://gbe.stanford.edu/">http://gbe.stanford.edu</a>) [date (month, year) accessed].</p><p>You can freely browse the association results. </p>
	  
	    <h4>Citation in publications</h4>
            <p>
                We request that any use of data obtained from the Global Biobank Engine be cited in publications using the following format:
            </p>
            <ul>
            Global Biobank Engine, Stanford, CA (URL: <a href="http://gbe.stanford.edu">http://gbe.stanford.edu</a>) [date (month, year) accessed].
               </ul>
            <p>
                We also ask that the authors be acknowledged as follows:
            </p>
            <ul>
                <li>
                The authors would like to thank the Rivas lab for making the resource available.
                </li>
            </ul>



    </div>
</div>

{% endblock %}
