<script type="text/javascript">
    window.is_gene = typeof window.transcripts_in_gene != 'undefined';
</script>
<script type="text/template" id="variant-table-template">

{% if transcripts_in_gene is defined %}
    <span style="float:left">
        <small>&dagger; denotes a consequence that is for a non-canonical transcript</small>
    </span>
{% endif %}
<table id="variant_table" class="tablesorter">
    <thead>
        <tr>
            <th class="tooltip-table-header" data-tooltip="chr:pos reference/alternate &#xa;(dbSNP135 rsID)">
                Variant</th>
                <th class='tooltip-table-header' data-tooltip="hg19 genomic position">Position</th>
              <th class="tooltip-table-header" data-tooltip="HGVS annotation (protein change, where defined, or transcript change for splice variants, otherwise empty)">Consequence</th>
                           <th class="tooltip-table-header" data-tooltip="Variant Effect Predictor (VEP) &#xa; annotation using Gencode 75.&#xa; Worst across all transcripts of this gene.">Annotation</th>
            <th class="tooltip-table-header" data-tooltip="ExAC NFE alternate allele frequency &#xa;">
                ExAC NFE AF</th>
                <th class="tooltip-table-header" data-tooltip="Phenotype code corresponding to min(p-value) &#xa;">
                Phenotype code</th>
                  <th class="tooltip-table-header" data-tooltip="Odds ratio corresponding to min(p-value)">Odds Ratio</th>
				<th class="tooltip-table-header" data-tooltip="Minimum p-value &#xa;the graphic displays &#xa; p-value on a  &#xa; discrete scale: &#xa; <0.01, <0.001, < 1e-4, <1e-5">
P-value</th>
              </tr>
    </thead>
    <tbody>
    <% _.each(table_variants, function(variant) { %>
        <tr class="table_variant" id="variant_<%= variant.variant_id %>"
            category="<%= variant.category %>" filter_status="<%= variant.filter %>" frequency="<%= variant.allele_freq %>">
            <td>
                <a href="/variant/<%= variant.chrom %>-<%= variant.pos %>" target="_blank">
                <%= variant.chrom %>:<%= variant.pos %>
                <% if (variant.ref.length > 20) { %>
                    <%= variant.ref.slice(0,20) %>...
                <% } else { %>
                    <%= variant.ref %>
                <% } %> /
                <% if (variant.alt.length > 20) { %>
                    <%= variant.alt.slice(0,20) %>...
                <% } else { %>
                    <%= variant.alt %>
                <% } %>
                <% if (variant.rsid != '.') { %>
                    (<%= variant.rsid %>)
                <% } %>
                </a>
            </td>
            <td> <%= variant.pos %></td>
                <td>
                <% if (variant.HGVSp != '') { %>
                    <%= variant.HGVSp %><% if (is_gene & variant.CANONICAL != 'YES') { %>&dagger;<% } %>
                <% } else { %>
                    <% if (variant.major_consequence == 'splice_donor_variant' | variant.major_consequence == 'splice_acceptor_variant' | variant.major_consequence == 'splice_region_variant') { %>
                        <% if (variant.HGVSc.length > 20) { %>
                            <%= variant.HGVSc.slice(0,20) %>...<% } else { %>
                            <%= variant.HGVSc %><% } %><% if (is_gene & variant.CANONICAL != 'YES') { %>&dagger;<% } %>
                    <% } %>
                <% } %>
            </td>
                 <td class="<%= variant.category %>" data-consequence="<%= variant.major_consequence %>"><b>
                <% if (variant.major_consequence) { %>
                    <%= variant.major_consequence.replace('_variant', '').replace(/_/g, ' ').replace('utr', 'UTR').replace('3 prime', "3'").replace('5 prime', "5'").replace('nc ', "non-coding ") %>
                <% } %>
            </b> </td>
                      <td> 
                <% if (variant.exac_nfe != -9) { %>
                    <%= variant.exac_nfe %>
                <% } else { %>

                <% } %>    
            </td>
            <!-- ICD CODE -->

	          <!--   <%= variant.minicd %> -->
                <td class='tooltip-table-header' data-tooltip=<%= variant.minicd_info %>><%= variant.minicd %></td>


              <td> 
                <% if (variant.minor != -9) { %>
		 <% if (variant.minor == 0) { %>
                    <% '< 1e-16' %>
                <% } else { %> 
                <%= variant.minor.toPrecision(3) %>
                <%  } %>
		<% } else { %>
                    <% if (variant.minor != -9) { %>
                    <%= variant.minor.toPrecision(3) %>
                <% } else { %>
		<%= variant.minor.toPrecision(3) %> 
		<%  } %>
                <% } %>
                 </td>
                   <td>
                <% if (variant.minpval != -9) { %>
                    <% if (variant.minpval < .00000000000001) { %>
                    <%= '< 1e-16' %>
                <% } else { %>
                <%= variant.minpval.toPrecision(3) %>
                <% } %>
                <% } else { %>
                    <% if (variant.minpval != -9) { %>
                      <%= variant.minpval.toPrecision(3) %>
                <% } else { %>
                <%= variant.minpval.toPrecision(3) %>
                <% } %>
                
                <% } %>
                <div id="variant_af_box_<%= variant.variant_id %>" style="float: right;"></div>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
</script>
