{% extends "layout.html" %}
{% block body %}
    <!-- Render context vars in JS here -->


    <style>
                        h3{background-color:#826aa5;color:#fff;padding:3px;}
                        h3 span{float:right;font-size:28px;font-weight:normal;padding:1px;}
                        h3 span a{color:#fff;text-decoration:none;}

                </style>



    <div class="container_fluid">
<div class="embed-responsive embed-responsive-16by9">

  	    <iframe id="snpnetcox_app" src="https://biobankengine.shinyapps.io/snpnet-Cox/" class="embed-responsive-item" style="margin-left: 50px; margin-right: 50px; border: none; width: 95%; height: 1400px" allowfullscreen=""></iframe>
        </div>

<div class="row">
        <div class="col">
            <h1 style="margin-left: 50px;">snpnet-Cox applied to UK Biobank</span></h1>
            <h4 style="margin-left: 50px;">Version 0.01, 01.01.2020</span></h4>
<p style="margin-left: 50px;">Ruilin Li, Christopher Chang, Junyang Qian, Johanne Marie Justesen, Yosuke Tanigawa,  Trevor Hastie, Manuel A. Rivas, and Robert Tibshirani</p>
<p style="margin-left: 50px;"> App designed and developed by Manuel A. Rivas</p>

<!--            <h2 align="center">Video Tutorial for Power App</h2>
            <p>
                Christopher explains the Power app and teaches viewers how to interpret the plot and table using examples.
           </p>
           <iframe width="600" height="450" src="https://www.youtube.com/embed/TsC5tMyHFMQ" gesture=“media” frameborder="0" allowfullscreen></iframe>
-->
        </div> 
    </div>

</div>
{% endblock %}
